// fonts
$main_font : Inter;

// colors;
$primary_color : #473289;
$secondary_color : #8A7EB5;
$text_black : #4B5563;
$text_grey : #6B7280;
$error : #D9342B;
$success : #1DA750;
$white: #ffffff;
$input_error_bg: #FFF5F5;
$error_color : #D9342B;
$login_input_bg : #EDEEF6;
// Buttons
$primary_button_default : #473289;
$primary_button_hover : #473289;
$primary_button_focused : #473289;
$primary_button_disable : #473289;

$primary_light_button_default : #7A6CAB;
$primary_light_button_hover : #AAA5CB;
$primary_light_button_focused : #7A6CAB;
$primary_light_button_disable : #CCCBE1;

// Button Outline
$button_outline_default : #473289;