
<p-toast />

<div class="card">

    <div class="grid client-dashborad-header mb-4 align-items-center">
        <div class="col-6">
            <h4 class="subheading-color">Team Records</h4>
        </div>
        <div class="col-6 flex justify-content-end	">
            <p-button class="mr-2 border-round-md button-shadow"><img
                    src="../../../../../assets/images/icon/download.svg"></p-button>
            <p-button class="mr-2 border-round-md button-shadow"> <img
                    src="../../../../../assets/images/icon/filter.svg"> </p-button>
            <p-button class="create-button border-round-md" (click)="openSidebar()">Add Team</p-button>
            <!-- appUserPermissions accessType='CREATE_CLIENT' -->
        </div>

    </div>


    <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
        selectionMode="single" class="client-data-table" [value]="teacherList">

        <ng-template pTemplate="header" class="p-4">
            <tr class="w-full flex flex-wrap">
                <th style="width:20%;word-break:break-all;" class="pl-3 pt-3 border-none primary-color">Name</th>
                <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Email</th>
                <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Last Login
                </th>
                <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Joined
                </th>
                <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Action
                </th>
            </tr>

        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr class="w-full flex flex-wrap">
                <td style="width: 20%;word-break:break-all;" class="pl-4 capitalize">
                    {{data.name}}
                </td>
                <td style="width: 20%;word-break:break-all;" class="pl-4">
                    {{data.email}}
                </td>
                <td style="width: 20%;word-break:break-all;" class="pl-4">
                    {{data.last_login}}
                </td>
                <td style="width: 20%;word-break:break-all;" class="pl-4 capitalize">
                    {{data.join_date}}
                </td>

                <td style="width: 20%;" class="pl-4" ><span
                    class="relative flex flex-wrap align-items-center">

                        <img (click)="viewDetails()"
                        src="../../../../assets/images/icon/mdi_eye.svg"
                        class="search-icon client-view-icon">

                        <img (click)="deleteUser(data)" src="../../../../assets/images/icon/delete-unfill-icon.svg" class="search-icon client-view-icon ml-3">

                    
                    </span></td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>

    </p-table>
    <p-paginator class="paginator-row paginator-dropdown" (onPageChange)="onPageChange($event)" [first]="offset"
        [rows]="limit" [rowsPerPageOptions]="[15, 30, 50]" [totalRecords]=totalRecorde></p-paginator>
</div>


@if(false){
<div class="table-view big-card mb-3">
    <div class="card py-3 px-2">
        <div class="grid client-dashborad-header mb-2">
            <div class="col-6">
                <p-skeleton styleClass="primary-bg-gray w-10rem h-2rem border-round-sm"></p-skeleton>
            </div>
            <div class="col-6 flex justify-content-end">
                <p-skeleton styleClass="primary-bg-gray w-4rem h-2rem border-round-sm"></p-skeleton>
                <p-skeleton styleClass="primary-bg-gray w-10rem h-2rem border-round-sm ml-2"></p-skeleton>
            </div>
        </div>
        <table class="mt-4 w-full">
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
            <tr class="grid mt-2 gap justify-content-between">
                <td class="col-9"><p-skeleton styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                </td>
                <td class="col-2"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
                <td class="col-1"><p-skeleton
                        styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                </td>
            </tr>
        </table>
    </div>
</div>
}

@if(addTeamSideBar){
    <p-sidebar [(visible)]="addTeamSideBar" position="right" styleClass="w-30rem">
    <app-add-team (sidebar)="closeSideBar()"></app-add-team>
</p-sidebar>
}