<p-confirmDialog styleClass="confirmation-pop-up-dialog"></p-confirmDialog>

@if(isliveScreen){

<div class="grid h-screen px-8 flex justify-content-center align-items-center ">

    <div class="col-12 text-center ">
        <h4>Ready to join ?</h4>
        <p>We're excited to have you join us.</p>
        <p>Please make yourself comfortable and get ready for an informative and engaging session.</p>

        <button type="submit" (click)="joinYoutubeLive()" pButton pRipple label="Join live session"
            class="w-full primary-light-btn deshbord-login-button"></button>
    </div>

</div>

}
@else {

<!-- <div class="grid surface-600">
        
        <div class="col-9 surface-600 live-body">
            <span class="text-color"> There is no active host at the moment. Please wait, the host will join soon. </span>
        </div>

        <div class="col-3">

        </div>
    
        <div class="col-12 surface-900 live-footer">
            <div>

                <ul >
                    <li class="cursor-pointer"> <i class="pi pi-comment"></i> </li>
                    <li class="cursor-pointer"> <i class="pi pi-users"></i> </li>
                    <li class="leave-button cursor-pointer"> <i class="pi pi-phone live-leave"></i> </li>
                </ul>

            </div>
    
        </div>
    
    </div> -->

<div class="grid surface-600">
    <div class="col-9 surface-600 live-body flex justify-content-center align-items-center ">
        <span class="w-full px-4">
            <iframe [src]="getYouTubeEmbedUrl(videoData.url)" width="100%"
                height="540px" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

            <!-- There is no active host at the moment. Please wait, the host will join soon.  -->
        </span>
    </div>

    <div class="col-3">
        <div class="live-side-bar m-3 border-round-md p-3 side-h relative">

            <div class="sidebar-header mb-4">
                <span class="text-lg text-color"> Discussions </span>
                <i class="pi pi-times cursor-pointer" style="float: right;"></i>
            </div>


            <div class="chat-main overflow-scroll" #chatContainer style="height: 87%;">

                @for(data of messagesList; track data){

                <div class="chat-card flex mb-2">

                    <span class="flex">
                        <p-avatar label="{{data.user_name?.charAt(0).toUpperCase()}}" styleClass="mr-2"
                            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" shape="circle" />
                        <span class="text-primary-purple text-base font-bold capitalize"> {{data.user_name}} </span>
                    </span>

                    <span class="ml-2 text-xs">
                       {{data.message}}
                    </span>

                </div>

                }

            </div>


            <div class="flex fixed p-bottom-100">
                <input class="w-full block text-sm" [(ngModel)]="messageValue" pInputText placeholder="Write Message..."
                    required="true" />

                <span class="absolute right-0 cursor-pointer">
                    <i class="pi pi-send mr-3 mt-3" (click)="sendMessage()"></i>
                </span>
            </div>

        </div>

    </div>



    <div class="col-12 surface-900 live-footer">
        <div>
            <ul>
                <!-- <li class="cursor-pointer"> <i class="pi pi-comment"></i> </li> -->
                <li class="cursor-pointer">100 <i class="pi pi-users ml-2"></i> </li>
                <li class="leave-button cursor-pointer" (click)="leaveMeeting()"> Leave <i class="pi pi-phone live-leave ml-2"></i> </li>
            </ul>
        </div>
    </div>


</div>


}