<p-toast />


    <div class="w-full">
        <!-- <h4 class="m-0 pt-4 font-semibold line-height-sm">Add Section</h4> -->
        <!-- <p class="m-0 font-semibold line-height-sm">Add a new Section</p> -->

        <form [formGroup]="addSection" class="w-full flex flex-wrap mt-4 mb-4">
            <div class="flex flex-wrap w-full mb-4">
                <div class="w-full">
                    <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Section Title
                        <span class="input-required-color">*</span>
                    </label>
                    <input class="w-full block text-sm" pInputText formControlName="title"
                        placeholder="Enter title" required="true" />
                </div>
            </div>

            <div class="flex flex-wrap w-full mb-4">
                <div class="w-full">
                    <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Max Marks
                    </label>
                    <input class="w-full block text-sm"  pKeyFilter="num" pInputText formControlName="maxmark"
                        placeholder="0" required="true" />
                </div>
            </div>

            <div class="flex flex-wrap w-full mb-4">
                <div class="w-full">
                    <p-checkbox formControlName="sectionwise" [binary]="true"></p-checkbox>
                    <label class="ml-2">Allowed section wise time</label>
                </div>
            </div>

            @if(addSection.get('sectionwise')?.value === true){
                <div class="flex flex-wrap w-full mb-4">
                    <div class="w-full">
                        <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Duration
                        </label>
                        <input class="w-full block text-sm" type="time" pKeyFilter="num" pInputText formControlName="duration"
                            placeholder="0" required="true" />
                    </div>
                </div>
            }

           
            <div
                class="assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
                <button pButton pRipple (click)="closeButton()" label="Cancel"
                    class="primary-border-button px-5 mr-3 text-sm"></button>
                <button type="submit" (click)="submit()" pButton pRipple label="Submit"
                    class="primary-button px-5 text-sm"></button>
            </div>
        </form>
    </div>