<p-toast></p-toast>

<div class="card">

    <div class="grid client-dashborad-header mb-4 align-items-center">
        <div class="col-6">
            <h4 class="subheading-color">Messenger Records</h4>
        </div>
        <div class="col-6 flex justify-content-end	">

            <p-dropdown class="capitalize text-sm mr-4 w-14rem" [filter]="true" filterBy="name" id="officeid"
                [required]="true" [(ngModel)]="typeFilter" [options]="notificationType" optionValue="name" optionLabel="name"
                placeholder="Select Notification Type" (onChange)="onSelectNotificationType($event)">
            </p-dropdown>


            <p-button class="create-button border-round-md" (click)="openSidebar()"> + Add Campaign</p-button>

        </div>

    </div>

    @if(!isLoader){

    <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
        selectionMode="single" class="client-data-table" [value]="messengerList">

        <ng-template pTemplate="header" class="p-4">
            <tr class="w-full flex flex-wrap">
                <th style="width:20%;word-break:break-all;" class="pl-3 pt-3 border-none primary-color">Title</th>
                <th style="width:40%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Message</th>
                <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Schedule Date
                </th>
                <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Status
                </th>

            </tr>

        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr class="w-full flex flex-wrap">
                <td style="width: 20%;word-break:break-all;" class="pl-4 capitalize">
                    {{data.title}}
                </td>
                <td style="width: 40%;word-break:break-all;" class="pl-4">
                    {{data.message}}
                </td>
                <td style="width: 20%;word-break:break-all;" class="pl-4">
                    {{ data.schedule_on | date:'dd/MM/yyyy HH:mm:ss' }}
                </td>
                <td style="width: 20%;word-break:break-all;" class="pl-4 capitalize">
                    @if(data.status){
                    Send
                    }
                    @else{
                    Scheduled
                    }
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>

    </p-table>
    <p-paginator class="paginator-row paginator-dropdown" (onPageChange)="onPageChange($event)" [first]="offset"
        [rows]="limit" [rowsPerPageOptions]="[10, 20, 50, 100 ]" [totalRecords]=totalRecorde></p-paginator>
    }
    @else {
    <div class="table-view big-card mb-3">
        <div class="card py-3 px-2">

            <table class="mt-4 w-full">
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
                <tr class="grid mt-2 gap justify-content-between">
                    <td class="col-9"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                    </td>
                    <td class="col-2"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                    <td class="col-1"><p-skeleton
                            styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    }


</div>



@if(addMessenger){
<p-sidebar class="p-0 pt-1 pb-1" [(visible)]="addMessenger" [fullScreen]="true">
    <app-add-push-message (closeform)="closeSideBar($event)"></app-add-push-message>
</p-sidebar>
}