


<div class="mt-5">
    
      
    
    @if(isUploadImage){
        <div class="border-solid border-round-lg main-border-color border-2 p-4 flex flex-column flex-wrap align-items-center justify-content-center user-image relative">
            <img class="w-full" [src]="courseDetails.image_url">
        </div>
    }
    @else{

        <div class="border-solid border-round-lg main-border-color border-2 p-4 flex flex-column flex-wrap align-items-center justify-content-center user-image relative">
        
            <img width="100" height="100"
                [src]="selectedFileObjectUrl ? selectedFileObjectUrl : '../../../../assets/images/icon/Image.svg'"
                alt="Image Preview" [ngClass]="selectedFileObjectUrl ? 'w-full h-full' : 'w-4rem h-4rem'" />
            @if(selectedFileObjectUrl){
            <i class="pi pi-times profile-remove-icon" (click)="profileImageRemove()" style="font-size: 1rem"></i>
            }
        
            @if(!selectedFileObjectUrl){
            <span class="text-xs text-color-secondary mt-3"> Max file size is 200 MB </span>
            }
        
            <span class="flex flex-wrap align-items-center justify-content-center mt-2 mb-1">
                @if(!selectedFileObjectUrl){
                <img class="h-1rem w-1rem" src="../../../../assets/images/icon/upload-icon.svg">
                }
                <p-fileUpload #fileUpload [showUploadButton]="true" mode="basic"
                    class="bg-none text-base text-700 border-0 z-2 required-upload profile-message-remove"
                    chooseLabel="Upload Image*" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                    accept="image/*" [maxFileSize]="maxFileSizeLimit" (onSelect)="onFileSelect($event)"></p-fileUpload>
            </span>
        
        </div>

    }



    

</div>

<div class="grid mt-4">

<div class="col-6">
    <button type="button" (click)="deleteThumnail()" icon="pi pi-trash" pButton pRipple label="Delete"
        class="primary-border-button px-5 mr-3 text-sm text-primary-purple"></button>
</div>

<div class="col-6 flex justify-content-end">
    <button type="button" pButton pRipple (click)="submit()" 
        label="Save" class="secondary-button px-6 "></button>
</div>

</div>
