<p-toast />


    <div class="w-full">
        <h4 class="m-0 font-semibold line-height-sm">Add Section</h4>
        <!-- <p class="m-0 font-semibold line-height-sm">Add a new Section</p> -->

        <form [formGroup]="addSection" (ngSubmit)="submit()" class="w-full flex flex-wrap mt-7">
            <div class="flex flex-wrap w-full mb-4">
                <div class="w-full">
                    <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Section Title
                    </label>
                    <input class="w-full block text-sm" pInputText formControlName="title"
                        placeholder="Enter you name" required="true" />
                </div>
            </div>
           
            <div
                class="assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
                <button pButton pRipple (click)="closeButton()" label="Cancel"
                    class="primary-border-button px-5 mr-3 text-sm"></button>
                <button type="submit" pButton pRipple label="Submit"
                    class="primary-button px-5 text-sm"></button>
            </div>
        </form>
    </div>