<p-toast></p-toast>
<!-- <div class="card">
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
</div> -->

<router-outlet></router-outlet>

<!-- Step 1: Course Details -->
@if(activeIndex === 0){

<div class="add-courses mt-4 pb-7">

    <div class="text-center mb-5">
        <h3 class="m-0 pb-2">Create Test Series</h3>
        <p class="m-0 text-color-secondary line-height-3">Start creating a new test series.</p>
    </div>

    <form [formGroup]="coursesForm" class="w-6 m-0-a">
        <div class="grid nested-grid mt-3">
            <div class="col-12">
                <div class="w-full">
                    <label class="w-full mb-1  font-medium line-height-exsm inline-block">Title
                        <span>*</span></label>
                    <input class="w-full capitalize" pInputText formControlName="name" placeholder="Enter Test  Name"
                        required="true" />
                </div>
            </div>

            <div class="col-12 ai-generater">
                <div class="flex justify-content-end">
                    <p class="m-0">Let our AI tool work its magic to generate a compelling test description and other
                        metadata
                        in seconds!</p>
                </div>
                <div class="flex justify-content-end">


                    <button type="button" pButton pRipple (click)="aiSubmit()"
                        class="secondary-button primary-border-button px-5 mr-3 text-sm">

                        @if (descriptionAIResp){
                        <p-progressSpinner styleClass="w-2rem h-2rem mr-2" ariaLabel="loading" />
                        }
                        @else {
                        <img class="w-2rem mr-2" src="../../../../assets/images/ai-icon.png">
                        Generate Using AI
                        }



                    </button>
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="w-full">
                    <label class="w-full mb-1  font-medium line-height-exsm inline-block">Description</label>
                    <!-- <textarea rows="5" style="width: 100%;" pInputTextarea formControlName="description"></textarea> -->
                    <p-editor formControlName="description" [style]="{ height: '250px' }" />
                </div>
            </div>

            <div class="col-12 flex">
                <p-checkbox formControlName="ispaid" [binary]="true"></p-checkbox>
                <label class="ml-2">Make it a paid test series</label>
            </div>

            <div class="col-12 mt-4" *ngIf="coursesForm.get('ispaid')?.value">
                <div class="grid">
                    <!-- <div class="col-6">
                        <label class="w-full mb-1  font-medium line-height-exsm inline-block">Price</label>
                        <input class="w-full" pInputText placeholder="Enter price" formControlName="price" />
                    </div> -->

                    <div class="col-6">
                        <label class="w-full mb-1  font-medium line-height-exsm inline-block">Price of the product *</label>
                        <input class="w-full" pInputText placeholder="Enter MRP" formControlName="mrp" />
                    </div>

                    <div class="col-6">
                        <label class="w-full mb-1  font-medium line-height-exsm inline-block">Discounted price for the audience *</label>
                        <input class="w-full" pInputText placeholder="Enter price" formControlName="price" />
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
}



<!-- Step 2: Thumbnail Upload  -->
@if(activeIndex === 1){

    <div class="grid w-6 m-0-a mt-4 pb-7">

        <div class="text-center mb-5">
            <h2 class="m-0 pb-2">Add a thumbnail image</h2>
            <p class="m-0 text-color-secondary line-height-3">The thumbnail is displayed at checkout and throughout the
                member experience.
                Upload one now or
                choose one later.</p>
        </div>
    
        <div class="col-6">
    
    
            <div
                class="border-solid border-round-lg main-border-color border-2 p-4 flex flex-column flex-wrap align-items-center justify-content-center user-image relative">
    
                <img width="100" height="100"
                    [src]="selectedFileObjectUrl ? selectedFileObjectUrl : '../../../../assets/images/icon/Image.svg'"
                    alt="Image Preview" [ngClass]="selectedFileObjectUrl ? 'w-full h-full' : 'w-4rem h-4rem'" />
                @if(selectedFileObjectUrl){
                <i class="pi pi-times profile-remove-icon" (click)="profileImageRemove()" style="font-size: 1rem"></i>
                }
    
                @if(!selectedFileObjectUrl){
                <span class="text-xs text-color-secondary mt-3"> Recommended size: 1024x576 </span>
                }
    
                <span class="flex flex-wrap align-items-center justify-content-center mt-2 mb-1">
                    @if(!selectedFileObjectUrl){
                    <img class="h-1rem w-1rem" src="../../../../assets/images/icon/upload-icon.svg">
                    }
                    <p-fileUpload #fileUpload [showUploadButton]="true" mode="basic"
                        class="bg-none text-base text-700 border-0 z-2 required-upload profile-message-remove"
                        chooseLabel="Upload Image*" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="image/*" [maxFileSize]="maxFileSizeLimit" (onSelect)="onFileSelect($event)"></p-fileUpload>
                </span>
    
            </div>
    
    
    
        </div>
    
    
        @if(!selectedFileObjectUrl){
    
        <div class="col-6">
            <div (click)="selectOption()"
                class="cursor-pointer border-solid main-border-color border-round-lg border-2 flex flex-column w-full h-full px-3 justify-content-center align-items-center "
                [ngClass]="{'selected': selectedOption}">
                <h5 class="m-0 text-color">I don't have one</h5>
                <span class="text-xs text-color-secondary mt-2">Skip this step for now, I will add it later</span>
            </div>
        </div>
    
        }
    
    
    
    </div>
}


<!-- Step 3: Exam Categoray -->
@if(activeIndex === 2){

<div class="add-courses mt-4 pb-7">
    <div class="text-center mb-5">
        <h2 class="m-0 pb-2"> Select Exam Category </h2>
        <p class="m-0 text-color-secondary line-height-3">Select Your Perfect Course Exam Category</p>
    </div>

    <form [formGroup]="examCategoryForm" class="w-6 m-0-a">


        <div class="grid nested-grid mt-3 h-full">

            @for(data of examList; track data){
            <div class="col-6">
                <div class="w-full p-3 primary-bg-body border-round-lg">
                    <p-checkbox class="primary-color capitalize" formControlName="category" [label]="data.name"
                        name="category" [value]="data.id" />
                </div>
            </div>
            }
            

        </div>

       


    </form>
</div>

}

<!-- Step 4: AI Content Create -->

<!-- @if(activeIndex === 3){
<div class="add-courses mt-4">
    <div class="text-center mb-5">
        <h2 class="m-0 pb-2">Outline your course</h2>
        <p class="m-0 text-color-secondary line-height-3">Choose a method below to create your course curriculum.</p>
    </div>

    <form [formGroup]="aiContentForm" class="w-6 m-0-a">
        <div class="option">
            <p-checkbox id="generate-ai" [binary]="true" formControlName="isGenerate" name="outline-method" />
            <label for="generate-ai">
                <div class="option-content">
                    <h3>Generate with AI</h3>
                    <p>Describe your course below and we’ll generate an outline for you.</p>
                </div>
            </label>
        </div>

        <textarea formControlName="descibeCourse" placeholder="Describe your course"></textarea>

        <div class="option">
            <p-checkbox type="radio" id="start-scratch" [binary]="true" formControlName="isScratch"
                name="outline-method" />
            <label for="start-scratch">
                <div class="option-content">
                    <h3>Start from scratch</h3>
                    <p>I will create my own outline.</p>
                </div>
            </label>
        </div>
    </form>
</div>
} -->



<!-- Navigation Buttons -->
<div class="w-98 border-top-1 border-color-main bg-white fixed bottom-0 grid m-0-a">
    <div class="col-6">
        <button type="button" pButton pRipple (click)="back()" label="Back"
            class="primary-border-button px-5 mr-3 text-sm" [disabled]="activeIndex === 0"></button>
    </div>
    <div class="col-6 flex justify-content-end">
        <button type="button" pButton pRipple (click)="submit()"
            label="{{ activeIndex === items.length - 1 ? 'Submit' : 'Next' }}" class="secondary-button px-6 "></button>
    </div>
</div>