<div class="grid client-dashborad-header mb-4 align-items-center">
    <div class="col-12">
        <!-- <p-tag severity="success" value="Published"/> -->
        <p-tag severity="danger" value="Unpublished" />
    </div>
    <div class="col-6">
        <h4 class="subheading-color">Test name</h4>
    </div>
    <div class="col-6 flex justify-content-end	">
        <p-button class="mr-2 border-round-md button-shadow">Setting </p-button>
    </div>
</div>


<div class="grid mb-4 align-items-center">
    <div class="col-12">

        @if(false){
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Header I">
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
            </p-accordionTab>
            <p-accordionTab header="Header II">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
            </p-accordionTab>
            <p-accordionTab header="Header III">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
        </p-accordion>
        }
        @else {

            <div class="flex justify-content-center align-items-center w-full h-14rem border-round-sm bg-white">
                <p-button class="create-button border-round-md" (onClick)="addSection()">Add Section</p-button>
            </div>
        }

    </div>
</div>

<p-sidebar [(visible)]="addSectionValue" position="right" styleClass="w-30rem">
    <app-add-section></app-add-section>
</p-sidebar>