<div class="grid client-dashborad-header mb-4 align-items-center">
  <div class="col-12">
    <p-tag severity="danger" value="Unpublished"></p-tag>
  </div>
  <div class="col-6">
    <h4 class="subheading-color">Full Stack Web Development</h4>
  </div>
  <div class="col-6 flex justify-content-end">
    <p-button class="mr-2 border-round-md button-shadow">
      <img src="../../../../../assets/images/icon/filter.svg" />
    </p-button>
    <!-- <p-button class="mr-2 border-round-md button-shadow"
      ><img src="../../../../../assets/images/icon/download.svg"
    /></p-button> -->
  </div>
</div>

<!-- Second section Search -->
<div class="grid mb-4 align-items-center bg-white border-round-md p-4 shadow-1">
  <!-- Search Section -->
  <div class="col-4 flex justify-content-start align-items-center">
    <input
      type="text"
      pInputText
      placeholder="Search test..."
      class="p-inputtext-lg w-30 mr-3"
    />
    <p-button
      class="create-button border-round-md"
      label="Search"
      icon="pi pi-search"
    ></p-button>
  </div>

  <!-- Info Icons Section -->
  <div class="col-8 flex justify-content-end align-items-center text-center">
    <!-- Hidden Tests -->
    <div class="flex flex-column align-items-center mx-2">
      <i class="pi pi-eye-slash text-secondary" style="font-size: 1rem"></i>
      <span class="mt-1 text-secondary font-medium">0 Hidden Tests</span>
    </div>

    <!-- Questions -->
    <div class="flex flex-column align-items-center mx-2">
      <i class="pi pi-question-circle" style="font-size: 1rem"></i>
      <span class="mt-1 font-medium">0 Questions</span>
    </div>

    <!-- Marks -->
    <div class="flex flex-column align-items-center mx-2">
      <i class="pi pi-check-circle text-success" style="font-size: 1rem"></i>
      <span class="mt-1 text-success font-medium">0 Marks</span>
    </div>

    <!-- Tests -->
    <div class="flex flex-column align-items-center mx-2">
      <i class="pi pi-file text-info" style="font-size: 1rem"></i>
      <span class="mt-1 text-info font-medium">0 Tests</span>
    </div>
  </div>
</div>

<div class="grid mb-4 align-items-center">
  <div class="col-12">
    @if(false){
    <p-accordion [activeIndex]="0">
      <p-accordionTab header="Header I">
        <p>Lorem ipsum dolor sit amet...</p>
      </p-accordionTab>
      <p-accordionTab header="Header II">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header III">
        <p>At vero eos et accusamus et iusto odio dignissimos...</p>
      </p-accordionTab>
    </p-accordion>
    } @else {

    <div
      class="grid justify-content-center align-items-center mb-4 bg-white p-5 border-round-md shadow-1"
    >
      <div class="flex flex-column justify-content-center align-items-center">
        <img
          src="../../../../assets/images/icon/no-data.svg"
          alt="Illustration"
          class="mb-3 my-4"
          style="width: 150px; height: 150px"
        />

        <h6 class="text-secondary">Add Set</h6>
        <p class="text-secondary">
          Start adding sets to build your test series
        </p>

        <p-button
          class="create-button border-round-md"
          (onClick)="addSection()"
          icon="pi pi-plus"
          label="Add Set"
        ></p-button>
      </div>
    </div>

    }
  </div>
</div>

<p-sidebar [(visible)]="addSectionValue" position="right" styleClass="w-30rem">
  <app-add-section></app-add-section>
</p-sidebar>
