<!-- Sidebar for Adding Questions put this out size of "if" -->

<div class="p-4">
  <!-- Header -->
  <h3 class="font-bold text-2xl mb-2" style="color: black">
    Add Questions
  </h3>
  <p class="text-sm mb-3" style="color: black">
    Select to add questions, test attachment, or group the questions.
  </p>

  <!-- Question Type Section -->
  <h6 class="font-bold text-md mb-3 my-2" style="color: black">
    Question Type
  </h6>

  <!-- Flex Container for Question Types -->
  <div class="flex justify-center items-center flex-wrap gap-4">
    <button
      class="border-1 p-3 border-round-md"
      style="
        width: 180px;
        height: 100px;
        border-color: #473289;
        background: #ffffff;
        cursor: pointer;
      "
    >
      <i class="pi pi-list text-2xl my-1" style="color: #473289"></i>

      <p class="text-sm mt-2" style="color: #473289">Multiple Choice</p>
    </button>

    <button
      class="border-1 p-3 border-round-md"
      style="
        width: 180px;
        height: 100px;
        border-color: #473289;
        background: #ffffff;
        cursor: pointer;
      "
    >
      <i
        class="pi pi-sort-numeric-down text-2xl my-1"
        style="color: #473289"
      ></i>

      <p class="text-sm mt-2" style="color: #473289">Numerical</p>
    </button>

    <button
      class="border-1 p-3 border-round-md"
      style="
        width: 180px;
        height: 100px;
        border-color: #473289;
        background: #ffffff;
        cursor: pointer;
      "
    >
      <i class="pi pi-file text-2xl my-1" style="color: #473289"></i>

      <p class="text-sm mt-2" style="color: #473289">Essay</p>
    </button>

    <button
      class="border-1 p-3 border-round-md"
      style="
        width: 180px;
        height: 100px;
        border-color: #473289;
        background: #ffffff;
        cursor: pointer;
      "
    >
      <i class="pi pi-pencil text-2xl my-1" style="color: #473289"></i>

      <p class="text-sm mt-2" style="color: #473289">
        Fill In The Blanks
      </p>
    </button>

    <button
      class="border-1 p-3 border-round-md"
      style="
        width: 180px;
        height: 100px;
        border-color: #473289;
        background: #ffffff;
        cursor: pointer;
      "
    >
      <i class="pi pi-clone text-2xl my-1" style="color: #473289"></i>

      <p class="text-sm mt-2" style="color: #473289">Group Question</p>
    </button>
  </div>
</div>

<!-- Sidebar for Adding Questions End -->