<div class="grid mb-2">

    <div class="col-12">

        <div class="getStarted">
            <h2 class="m-0">Getting started</h2>
            <p>Let’s get you set up!</p>
        </div>

    </div>

</div>

<div class="grid">
    <div class="col-12 mb-3">
        <h4>Hi Subhash, Welcome!</h4>
        <h6 class="text-color mt-1">Your monetisation journey on ClassMate starts here!</h6>
    </div>
</div>

<div class="grid nested-grid">

    <div class="col-8">

        <div class="grid mb-1">
            <div class="col-4">
                <div class="total-loan-amount-card mb-1 w-full borderall p-3"
                    style=" border-radius: 5px;">
                    <div class="grid grid-nogutter">
                        <div class="col-8 flex flex-wrap align-items-center">
                            <div class="w-full">
                                <h6 class="line-height-exsm text-color font-medium">Total Learner</h6>
                                <h4
                                    class="font-semibold mt-1  white-space-nowrap overflow-hidden text-overflow-ellipsis">
                                    {{reportData.total_learner}}
                                </h4>
                            </div>
                        </div>
                        <div class="col-4 flex flex-wrap justify-content-end">
                            <span
                                class="block primary-bg-purple h-4rem w-4rem border-circle flex flex-wrap align-items-center justify-content-center">
                                <i class="primary-color text-3xl pi pi-users"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="total-loan-amount-card mb-1 w-full borderall p-3"
                    style="border-radius: 5px;">
                    <div class="grid grid-nogutter">
                        <div class="col-8 flex flex-wrap align-items-center">
                            <div class="w-full">
                                <h6 class="line-height-exsm text-color font-medium">Total Revenue</h6>
                                <h4 class="font-semibold mt-1  white-space-nowrap overflow-hidden text-overflow-ellipsis">
                                    {{reportData.total_revenue}}
                                </h4>
                            </div>
                        </div>
                        <div class="col-4 flex flex-wrap justify-content-end">
                            <span
                                class="block primary-bg-purple h-4rem w-4rem border-circle flex flex-wrap align-items-center justify-content-center">
                                <i class="primary-color text-3xl pi pi-wallet"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="total-loan-amount-card mb-1 w-full borderall p-3"
                    style=" border-radius: 5px;">
                    <div class="grid grid-nogutter">
                        <div class="col-8 flex flex-wrap align-items-center">
                            <div class="w-full">
                                <h6 class="line-height-exsm text-color font-medium">Total Courses</h6>
                                <h4 class="font-semibold mt-1  white-space-nowrap overflow-hidden text-overflow-ellipsis">
                                    {{reportData.total_course}}
                                </h4>
                            </div>
                        </div>
                        <div class="col-4 flex flex-wrap justify-content-end">
                            <span class="block primary-bg-purple h-4rem w-4rem border-circle flex flex-wrap align-items-center justify-content-center">
                                <i class="primary-color text-3xl pi pi-book"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid mb-1">
            <div class="col-6">
                <div class=" mb-1 w-full borderall p-3 pb-0" style=" border-radius: 5px;">
                    <h6 class="mb-2 font-bold">1. Course</h6>
                    <div class="text-color text-lg mb-3"> Easily create and sell courses online. </div>
                    <a class="text-lg cursor-pointer" (click)="navigatePage('course')">Create Course <i class="ml-1 text-sm pi pi-arrow-right"></i></a>

                    <div class="flex justify-content-center">
                        <img class="card-img" src="../../../assets/images/create-course.png">
                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class=" mb-1 w-full borderall p-3 pb-0" style=" border-radius: 5px;">
                    <h6 class=" mb-2 font-bold">2. Test Series</h6>
                    <div class="text-color text-lg mb-3">Create online tests and assign it to your courses. </div>
                    <a class="text-lg cursor-pointer" (click)="navigatePage('test')">Create Test <i class="ml-1 text-sm pi pi-arrow-right"></i></a>

                    <div class="flex justify-content-center">
                        <img class="card-img" src="../../../assets/images/create-test.png">
                    </div>
                </div>
            </div>

        </div>


        <div class="grid">
            <div class="col-6">
                <div class=" mb-1 w-full borderall p-3 pb-0" style=" border-radius: 5px;">
                    <h6 class="font-bold mb-2">3. Community</h6>
                    <div class="text-color text-lg mb-3">Create community. </div>
                    <a class="text-lg cursor-pointer" (click)="navigatePage('campaign')" > Create Community <i
                            class="ml-1 text-sm pi pi-arrow-right"></i></a>

                    <div class="flex justify-content-center">
                        <img class="card-img" src="../../../assets/images/create-community.png">
                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class=" mb-1 w-full borderall p-3 pb-0" style="border-radius: 5px;">
                    <h6 class="font-bold mb-2">4. Build a Web Page</h6>
                    <div class="text-color text-lg mb-3">Build a landing Page. </div>
                    <a class="text-lg cursor-pointer" (click)="navigatePage('digital-product')">Create Digital Product <i
                            class="ml-1 text-sm pi pi-arrow-right"></i></a>

                    <div class="flex justify-content-center">
                        <img class="card-img" src="../../../assets/images/create-webpage.png">
                    </div>

                </div>
            </div>

        </div>



    </div>

    <div class="col-4">
        <div class="grid">

            <div class="col-12">
                <div class="total-loan-amount-card mb-1 w-full borderall p-3"
                    style=" border-radius: 5px; height: 534px; overflow: scroll;">
                    <h6 class="text-color font-bold mb-2">Scheduled Events</h6>

                    <ul class="m-0 p-0 list-none mt-2">
                        <li class="borderall p-3 mb-2 flex cursor-pointer" (click)="liveOpen('data' )" style="border-radius: 5px; gap:20px; background: #F3F4F9;">
                          <div>
                            <img src="../../../assets/images/live-stream.png" >
                          </div>
                          <div>
                            <h6 class="ellipsis-two-lines" pTooltip="Advanced Python Workshop Advanced Python Workshop" tooltipPosition="top">Advanced Python Workshop Advanced Python Workshop</h6>
                            <span> 06 March 2025  02:00PM to 03:00PM </span>
                          </div>
                          <!-- <div>
                            <button type="submit" pButton pRipple label="Join" class="primary-button px-5 text-sm"></button>
                          </div> -->
                        </li>
    
                        
                    </ul>

                </div>
            </div>

            <div class="col-12">
                <ul class="m-0 p-0 list-none">
                    <li class="borderall p-3 mb-2 flex" style="border-radius: 5px;">
                        <div>
                            <h6 class="mb-1 font-bold ">Coupons </h6>
                            <a class="text-lg cursor-pointer" (click)="navigatePage('coupons')" >Create Coupons <i
                                    class="ml-1 text-sm pi pi-arrow-right"></i></a>
                        </div>
                        <!-- <i class="pi pi-angle-right text-2xl font-bold"></i> -->

                    </li>

                    <li class="borderall p-3 mb-2 flex" style="border-radius: 5px;">
                        <div>
                            <h6 class="mb-1 font-bold ">Newsfeed </h6>
                            <a class="text-lg cursor-pointer" (click)="navigatePage('newsfeed')" >Create Newsfeed <i
                                    class="ml-1 text-sm pi pi-arrow-right"></i></a>
                        </div>
                        <!-- <i class="pi pi-angle-right text-2xl font-bold"></i> -->
                    </li>

                    <li class="borderall p-3 mb-2 flex" style="border-radius: 5px;">
                        <div>
                            <h6 class="mb-1 font-bold ">Digital Product</h6>
                            <a class="text-lg cursor-pointer" (click)="navigatePage('web-page')" >Create Page <i
                                class="ml-1 text-sm pi pi-arrow-right"></i></a>
                        </div>
                        <!-- <i class="pi pi-angle-right text-2xl font-bold"></i> -->
                    </li>

                    <li class="borderall p-3 mb-2 flex" style="border-radius: 5px;">
                        <div>
                            <h6 class="mb-1 font-bold"> Campaign</h6>
                            <a class="text-lg cursor-pointer" (click)="navigatePage('community')" >Create Community <i
                                class="ml-1 text-sm pi pi-arrow-right"></i></a>
                           
                        </div>
                        <!-- <i class="pi pi-angle-right text-2xl font-bold"></i> -->
                    </li>
                </ul>
            </div>

        </div>
    </div>
    
</div>


<!-- Dashborad Footer  -->

