<!-- <div class="grid p-3">

    <div class="col-12">

        <div class="getStarted">
            <h2 class="m-0">Getting started</h2>
            <p>Let’s get you set up!</p>
        </div>
        
    </div>

</div> -->


<div class="grid p-3">

    <div class="col-4">
        <div class="total-loan-amount-card mb-1 w-full borderall p-3" style="background: #F3F4F9; border-radius: 5px;">
            <div class="grid grid-nogutter">
                <div class="col-8 flex flex-wrap align-items-center">
                    <div class="w-full">
                        <h6 class="line-height-exsm font-medium">Total Learner</h6>
                        <h4 class="font-semibold mt-1  white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            120
                        </h4>
                    </div>
                </div>
                <div class="col-4 flex flex-wrap justify-content-end">
                    <span
                        class="block primary-bg-purple h-4rem w-4rem border-circle flex flex-wrap align-items-center justify-content-center">
                        <i class="primary-color text-3xl pi pi-users"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="total-loan-amount-card mb-1 w-full borderall p-3" style="background: #F3F4F9; border-radius: 5px;">
            <div class="grid grid-nogutter">
                <div class="col-8 flex flex-wrap align-items-center">
                    <div class="w-full">
                        <h6 class="line-height-exsm font-medium">Total Revenue</h6>
                        <h4 class="font-semibold mt-1  white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            120
                        </h4>
                    </div>
                </div>
                <div class="col-4 flex flex-wrap justify-content-end">
                    <span
                        class="block primary-bg-purple h-4rem w-4rem border-circle flex flex-wrap align-items-center justify-content-center">
                        <i class="primary-color text-3xl pi pi-wallet"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="total-loan-amount-card mb-1 w-full borderall p-3" style="background: #F3F4F9; border-radius: 5px;">
            <div class="grid grid-nogutter">
                <div class="col-8 flex flex-wrap align-items-center">
                    <div class="w-full">
                        <h6 class="line-height-exsm font-medium">Total Courses</h6>
                        <h4 class="font-semibold mt-1  white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            120
                        </h4>
                    </div>
                </div>
                <div class="col-4 flex flex-wrap justify-content-end">
                    <span
                        class="block primary-bg-purple h-4rem w-4rem border-circle flex flex-wrap align-items-center justify-content-center">
                        <i class="primary-color text-3xl pi pi-book"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>


</div>