<p-toast />

 
 <div class="grid grid-nogutter nested-grid">
    <div class="col-2 secondry-bg-color">

        <div class="w-full relative overflow-hidden	h-10rem">

            <i (click)="updateThumbnail()" class="pi pi-pencil border-circle p-2 bg-white absolute right-0 m-3 cursor-pointer"></i>

            @if(digitalProductDetail.thumbnail == null){

                <img src="../../../../assets/images/course-tham.png">
            }
            @else{
                <img style="width: 100%; height: 100%; object-fit: cover;" [src]="digitalProductDetail.thumbnail">
            }


            <h5
                class="text-primary-purple capitalize white-space-nowrap overflow-hidden text-overflow-ellipsis w-full absolute bottom-0 p-3">{{digitalProductDetail.name}}</h5>
        </div>

        <ul class="sidebar-menu course-s-b">

            <li [ngClass]="{'active': currentActiveTab === 'content'}">
                <a href="javascript:void(0)" (click)="courseTabs('content')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Content </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>


            <li [ngClass]="{'active': currentActiveTab === 'info'}">
                <a href="javascript:void(0)" (click)="courseTabs('info')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Information </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>

            <li [ngClass]="{'active': currentActiveTab === 'price'}">
                <a href="javascript:void(0)" (click)="courseTabs('price')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Price  </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>


            <li [ngClass]="{'active': currentActiveTab === 'review'}">
                <a href="javascript:void(0)" (click)="courseTabs('review')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Review  </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>

            <li [ngClass]="{'active': currentActiveTab === 'faq'}">
                <a href="javascript:void(0)" (click)="courseTabs('faq')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> FAQ  </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>


        </ul>
    </div>


    <div class="col-10 bg-white content-body right-side-col">
        @switch (currentActiveTab) {
        @case ("info") {
        <app-digital-product-info></app-digital-product-info>
        }
        @case("content"){
            <app-content [digitalProductDetail]="digitalProductDetail" ></app-content>
        }
        @case("price"){
            <app-digital-product-price></app-digital-product-price>
        }
        @case("review"){
            <app-digital-product-review [digitalProductDetail]="digitalProductDetail" ></app-digital-product-review>
        }
        @case("faq"){
            <app-digital-product-faq></app-digital-product-faq>
        }

        }

    </div>



</div>

<!-- Update and Add new  Thambnail  -->
 @if(isThumbnail){
    
     <p-dialog header="Update Thumbnail" [modal]="true" [(visible)]="isThumbnail" [style]="{ width: '35rem' }">
         <app-update-thumbnail (closepoup)="closeThumbnailPopup($event)" [thumbnalAndTitleData]="thumbnalAndTitleData"></app-update-thumbnail>
     </p-dialog>

 }
