<div class="cards">
    <div class="grid client-dashborad-header mb-4 align-items-center">
        <div class="col-12">
            <h4 class="subheading-color">Basic Digital Product</h4>
            <p>Edit the details of your digital download. You must save changes you make here.</p>
        </div>
    </div>
</div>

<form [formGroup]="updateDigitalProductForm" class="mb-7">

    <div class="grid">
        <!-- <div class="col-9">
            <h5 class="text-color">Basics</h5>
            <p class="text-sm text-color-secondary">Edit the details of your digital download. You must save changes you make here.</p>
        </div> -->

        <div class="col-9">
            <label
                class="w-full mb-1 mt-1 text-color font-semibold  font-medium line-height-exsm inline-block">Title</label>
            <input class="w-full capitalize" pInputText formControlName="name" placeholder="Enter product title" />
        </div>

        <div class="col-9">
            <label class="w-full mb-1 mt-1 text-color font-semibold  font-medium line-height-exsm inline-block">Edition</label>
            <input class="w-full capitalize" pInputText formControlName="edition" placeholder="Enter product title" />
        </div>

        <div class="col-9">
            <label class="w-full mb-1 mt-1 text-color font-semibold  font-medium line-height-exsm inline-block">label</label>
            <input class="w-full capitalize" pInputText formControlName="label" placeholder="Enter label" />
        </div>

        <div class="col-9">

            <label class="w-full mb-1 mt-3 text-color font-semibold  font-medium line-height-exsm inline-block">language </label>

            <p-dropdown class="capitalize" [filter]="true" filterBy="name" id="officeid" class="text-sm w-full"
                [required]="true" formControlName="language" [options]="langlist" optionValue="lang"
                optionLabel="lang" placeholder="Select language "></p-dropdown>

        </div>

        <div class="col-4 mt-2 mb-2 formgrid grid permissions">
            <p-inputSwitch formControlName="lifetime" class="mr-2" />
            <span class="text-lg inline-block">Access life time</span>
        </div>

        <!-- <div class="col-4 mt-2 mb-2 formgrid grid permissions">
            <p-inputSwitch formControlName="ispublished" class="mr-2" />
            <span class="text-lg inline-block"> Publish </span>
        </div> -->

        @if(updateDigitalProductForm.get('lifetime')?.value === false){

            <div class="col-9">
                <label class="w-full mb-1 mt-3 text-color font-semibold  font-medium line-height-exsm inline-block">Validity days</label>
                <input class="w-full capitalize" pInputText formControlName="validitydays" placeholder="e.g 20 days" />
            </div>

        }




        <div class="col-9 mb-4">
            <div class="w-full">
                <label class="w-full mb-1  font-medium line-height-exsm inline-block"> Description </label>
                <p-editor formControlName="description" [style]="{ height: '320px' }"></p-editor>
            </div>
        </div>

    </div>


</form>


<div
    class="w-full assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
    <button type="submit" (click)="updateProduct()" pButton pRipple label="Save"
        class="primary-button px-5 text-sm"></button>
</div>