

.option {
    margin-bottom: 20px;
    position: relative;
}

.option input[type="radio"] {
    display: none;
}

.option label {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.option input[type="radio"]:checked + label {
    border-color: #473289;
}

.option input[type="radio"]:checked + label::before {
    content: '\2713'; /* Unicode for the checkmark */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #473289;
}

.option .option-content {
    text-align: left;
}

.option h3 {
    margin: 0;
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    resize: none;
}


