<p-toast></p-toast>


@if(!isThumbnail){

    <div class="add-courses mt-4">
    
        <div class="text-center">
            <h2 class="m-0">Tell us about your course</h2>
            <p>We'll use this information to customize your course. You can change it any time.</p>
        </div>
    
        <form [formGroup]="coursesForm" class="w-6 m-0-a">
    
    
            <div class="grid nested-grid mt-3">
    
                <div class="col-12">
                    <div class="w-full">
                        <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Courses Name
                            <span>*</span></label>
                        <input class="w-full capitalize" pInputText formControlName="name" placeholder="Enter Course Name"
                            required="true" />
                    </div>
                </div>
    
    
                <div class="col-12 mt-4">
                    <div class="w-full">
                        <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Description
                        </label>
                        <textarea rows="5" style="width: 100%;" pInputTextarea formControlName="description"> </textarea>
                    </div>
                </div>
    
                <div class="col-12 flex">
                    <p-checkbox formControlName="ispaid" [binary]="true" /> <label class="ml-2" for="ny"> This is a paid
                        course </label>
                </div>
    
    
                @if(this.coursesForm.get('ispaid')?.value === true){
    
                <div class="col-12 mt-4">
    
                    <div class="grid">
                        <div class="col-6">
                            <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Price</label>
                            <input class="w-full" pInputText placeholder="Enter price" formControlName="price" />
                        </div>
                    </div>
    
                </div>
                }
    
    
    
            </div>
    
    
    
    
        </form>
    
    
    </div>
    
    
    <div class="w-98 absolute bottom-0 grid m-0-a">
        <div class="col-6">
            <h3 class="m-0 font-semibold">Cancel</h3>
        </div>
        <div class="col-6 flex justify-content-end">
            <button type="submit" pButton pRipple (click)="submit()" label="Next"
                class="secondary-button px-6 text-sm"></button>
        </div>
    </div>
}
@else {


    <div class="add-courses mt-4">

        <div class="text-center">
            <h2 class="m-0">Tell us about your course</h2>
            <p>We'll use this information to customize your course. You can change it any time.</p>
        </div>
    
        <div class="grid">
            <div class="col-6">
                <div class="w-full mb-4 p-5">
                    <div class="border-dashed border-round-lg border-2 flex flex-wrap align-items-center justify-content-center user-image relative h-9rem">
                        <img width="100" height="100"
                            [src]="selectedFileObjectUrl ? selectedFileObjectUrl : '../../../../assets/images/icon/upload-image.svg'"
                            alt="Image Preview" [ngClass]="selectedFileObjectUrl ? 'w-full h-full' : 'w-4rem h-4rem'" />
                        @if(selectedFile){
                        <i class="pi pi-times profile-remove-icon" (click)="profileImageRemove()"
                            style="font-size: 1rem"></i>
                        }
        
                    </div>
                    <span class="flex flex-wrap align-items-center justify-content-center mt-2">
                        @if(!selectedFileObjectUrl){
                        <img class="h-1rem w-1rem" src="../../../../assets/images/icon/upload-icon.svg">
                        }
                        <p-fileUpload #fileUpload mode="basic" class="bg-none text-base text-700 border-0 z-2"
                            chooseLabel="Add course cover" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            accept="image/*" (onSelect)="onFileSelect($event)" cancelStyleClass="null"></p-fileUpload>
        
                    </span>
                </div>
            </div>

            <div class="col-6">

                <div class="w-full mb-4 p-5">
                    <div class="border-dashed border-round-lg border-2 flex flex-wrap align-items-center justify-content-center user-image relative h-9rem">
                        <img width="100" height="100"
                            [src]="selectedFileObjectUrl ? selectedFileObjectUrl : '../../../../assets/images/icon/upload-image.svg'"
                            alt="Image Preview" [ngClass]="selectedFileObjectUrl ? 'w-full h-full' : 'w-4rem h-4rem'" />
                        @if(selectedFile){
                        <i class="pi pi-times profile-remove-icon" (click)="profileImageRemove()"
                            style="font-size: 1rem"></i>
                        }
        
                    </div>
                    
                </div>

            </div>

        </div>
    
    </div>
    
    
    <div class="w-98 absolute bottom-0 grid m-0-a">
        <div class="col-6">
            <h3 class="m-0 font-semibold">Cancel</h3>
        </div>
        <div class="col-6 flex justify-content-end">
            <button type="submit" pButton pRipple (click)="submit()" label="Next"
                class="secondary-button px-6 text-sm"></button>
        </div>
    </div>

}