<p-toast></p-toast>
<p-confirmDialog styleClass="confirmation-pop-up-dialog"></p-confirmDialog>


<div class="grid client-dashborad-header mb-4 align-items-center">
    <div class="col-12">
        <h4 class="subheading-color capitalize"><i class="pi pi-arrow-left mr-2 cursor-pointer font-bold "
                (click)="backContentListPage()"></i> {{testDetailsData.title}}</h4>
    </div>
</div>


<div class="grid nested-grid mt-4">

    <div class="col-12 ">

        @for(data of sectionData; track data){
            <div class="mb-4">
                <p-accordion [multiple]="true" [activeIndex]="[0]" >
                    <p-accordionTab>
        
                        <ng-template pTemplate="header">
                            <div class="community-custom-header">
                                <span class="underline text-2xl capitalize white-space-nowrap overflow-hidden text-overflow-ellipsis">{{data.name}}</span>
                            </div>
                        </ng-template>
        
                        <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true"
                            scrollHeight="37.938rem" selectionMode="single" class="client-data-table test-table" [value]="data.questions">
        
                            <ng-template pTemplate="body" let-data>
                                <tr class="w-full flex flex-wrap">
                                    <td style="width: 85%;word-break:break-all;" class="pl-4 underline cursor-pointer capitalize table-p" [innerHTML]="data.text"></td>
    
                                    <td style="width: 15%;word-break:break-all;" class="pl-4 capitalize">
                                        <i class="mr-4 cursor-pointer pi pi-pencil" (click)="editQuestion(data.id)" ></i>
                                        <i class="cursor-pointer pi pi-trash label-required" (click)="deleteQuestion(data.id)"></i>
                                    </td>
        
                                </tr>
                            </ng-template>
        
                        </p-table>
        
                        <div class="grid">
                            <div class="col-6">
                                <button type="submit" icon="pi pi-upload" pButton pRipple label="Import Question" (click)="importQuestions(data)"
                                class="w-full accordion-inner-button border-dashed px-6 text-sm mt-4"></button>
                            </div>

                            <div class="col-6">
                                <button type="submit" icon="pi pi-plus" pButton pRipple label="Add Question" (click)="addQuestion(data.id)"
                                class="w-full accordion-inner-button border-dashed px-6 text-sm mt-4"></button>
                            </div>
                        </div>
        
                    </p-accordionTab>
                </p-accordion>
            </div>
        }

        <button type="submit" pButton pRipple label="Add Section" (click)="createSection(testDetailsData.id)"
                    class="mt-3 w-full add-section-button border-dashed px-6 text-sm"></button>

    </div>

</div>

@if(isCreateSection){
    <p-dialog header="Create Section" [modal]="true" [(visible)]="isCreateSection" [style]="{ width: '40rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <app-create-test-section (closepopup)="closepopup($event)" [testDetailId]="testDetailId"></app-create-test-section>
    </p-dialog>
}

@if(isAddQuestion){
    <p-sidebar [(visible)]="isAddQuestion" [fullScreen]="true">
        <app-create-questions (closepopup)="closepopup($event)" [testId]="testId" [questionId]="questionId" [sectionIdForQuestion]="sectionIdForQuestion"></app-create-questions>
    </p-sidebar>
    <!-- <p-dialog header="Create Section" [modal]="true" [(visible)]="isAddQuestion" [style]="{ width: '70rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    </p-dialog> -->
}

@if(isImportQuestion){
    <p-sidebar [(visible)]="isImportQuestion" [fullScreen]="true">
        <app-import-questions [testId]="testId" [sectionId]="testDetailsData.id"></app-import-questions>
       <!-- <app-import-questions [sectionId]="sectionId" [testId]="testId" (closepopup)="closeImportSideBar($event)"></app-import-questions> -->

    </p-sidebar>
}