<div class="pt-6 pl-7 pr-8 pb-0 main-footer grid nested-grid float-left">
    <div class="col-5">
        <div class="grid">
            <div class="col-4 pr-3">
                <img class="phone-img w-full" src="../../../../assets/images/icon/Phone-Mockups.svg">
            </div>
            <div class="col-8">
                <h3>ClassMate on the go!</h3>
                <p>Download the ClassMate app for Android and iOS to manage your loans from anywhere, anytime!</p>
                <img class="qr-code mt-4" src="../../../../assets/images/icon/qr-code.svg">
            </div>
        </div>
    </div>
    <div class="col-2 pl-6">
        <h4>Help & Support</h4>
        <ul>
            <li><a>Contact Support</a></li>
            <li><a>Knowledge Base</a></li>
            <li><a>Help Document</a></li>
            <li><a>Webinar</a></li>
        </ul>
    </div>
    <div class="col-2 pl-6">
        <h4>Company</h4>
        <ul>
            <li><a> Getting Started </a></li>
            <li><a> Mobile Apps </a></li>
            <li><a> Add-on </a></li>
            <li><a> What's New? </a></li>
            <li><a> Developers API </a></li>
        </ul>
    </div>

    <div class="col-3 info">
        <h4>Contact</h4>
        <ul>
            <li class="mb-3"><i class="fa fa-regular fa-envelope"></i> nikita </li>
            <li class="mb-3"><i class="fa fa-solid fa-phone"></i> +91 9876543210</li>
            <li><i class="fa fa-solid fa-phone"></i> 1st Floor, 40, Kanak Vihar, Hirapura,
                Jaipur, Rajasthan</li>
        </ul>
    </div>


    <div class="col-12 flex justify-content-center text-center">
        <p class="copyright">ClassMate Copyright © 2024 </p>
    </div>

</div>