<p-toast />


<div class="w-full">

    <form [formGroup]="addQuestionForm" class="w-full flex flex-wrap mt-4 mb-4">
        <div class="flex flex-wrap w-full mb-4">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Question Type <span class="input-required-color">*</span>
                </label>
                <p-dropdown class="capitalize" [filter]="true" filterBy="name" id="officeid" class="text-sm w-full"
                    [required]="true" formControlName="selecttitle" [options]="questionTypes" optionValue="id"
                    optionLabel="name" placeholder="Select Title"></p-dropdown>
            </div>
        </div>

        <div class="flex flex-wrap w-full mb-4">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Subject <span class="input-required-color">*</span>
                </label>
                <input class="w-full block text-sm" pInputText formControlName="subject" placeholder="Enter subject name"
                    required="true" />
            </div>
        </div>

        <div class="flex flex-wrap w-full mb-4">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Lession <span class="input-required-color">*</span>
                </label>
                <input class="w-full block text-sm" pInputText formControlName="chapter" placeholder="Enter lession name" 
                    required="true" />
            </div>
        </div>

        <div class="flex flex-wrap w-full mb-4">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Question Text <span class="input-required-color">*</span>
                </label>
                <p-editor formControlName="text" [style]="{ height: '100px' }" placeholder="e.g Q.What is Javascripat" />

            </div>
        </div>

        @if (addQuestionForm.get('selecttitle')?.value ===  "5e21c4de68e441af9ba9fe447838d3d0" || addQuestionForm.get('selecttitle')?.value ===  "be73610bb75047a4b56dcb062b7a5a7a") {
            <div class="flex flex-wrap w-full mb-4">
                <div class="w-full">
                    <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Answer </label>
                    <input class="w-full block text-sm" pInputText formControlName="answer" placeholder="Enter answer" 
                        required="true" />
                </div>
            </div>
        }
        @else {

            <div class="w-full p-4 primary-secondary-bg border-round-md">
                <h6> Options </h6>
            </div>
    
    
            <div class="flex flex-wrap w-full mb-4">
                <div class="w-full">
    
                    <div formArrayName="options">
                        @for(option of options.controls; track $index){
    
                        <div [formGroupName]="$index" class="option-row">
                            <input type="checkbox" formControlName="isCorrect" />
                            <div>
                                <label for="correctOption{{ $index }}">Option {{ $index + 1 }}</label>
                            </div>
    
                            <div class="ml-2 mr-2">
                                <p-editor class="editor" formControlName="text" [style]="{ height: '100px' }" placeholder="e.g Option {{ $index + 1 }}" />
                            </div>
    
                            <button type="button" (click)="removeOption($index)" class="remove-button"><i class="pi pi-minus"></i></button>
                        </div>
                        }
                    </div>
    
                    <button type="button" class="add-more-button" (click)="addOption()"><i class="pi pi-plus"></i></button>
    
                </div>
            </div>

        }



        <div class="flex flex-wrap w-full mb-4">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Explanation
                </label>
                <p-editor formControlName="explanation" [style]="{ height: '100px' }" placeholder="e.g - JavaScript is a programming language primarily used for creating interactive and dynamic web pages. It works alongside HTML and CSS to add interactivity, handle events, and manipulate content. Known for its versatility, JavaScript is used in both client-side (browser) and server-side (Node.js) development, making it a core technology in web development." />

            </div>
        </div>


        <div
            class="assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
            <button pButton pRipple label="Cancel" class="primary-border-button px-5 mr-3 text-sm"></button>
            <button type="submit" (click)="submit()" pButton pRipple label="Submit"
                class="primary-button px-5 text-sm"></button>
        </div>
    </form>
</div>