<div class="body float-left">
    <app-header></app-header>
    <div class="grid grid-nogutter mt-1">
        <div class="p-0" [ngClass]="togglesidebar ? 'ls-2' : 'ls-1 open-sidebar'">
            <app-sidebar></app-sidebar>
        </div>
        <div class="p-0" [ngClass]="togglesidebar ? 'ls-8' : 'ls-9'">
                <div class="content z-auto" [ngClass]="togglesidebar ? 'p-5' : 'p-0'">
                    <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>

</div>