<!-- <p-toast></p-toast> -->
<!-- 
<div class="card">
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
</div> -->

<!-- <router-outlet></router-outlet> -->

<!-- Step 1: Course Details -->

<div class="mt-5 w-full">
  <h4 class="m-0 pt-4 font-semibold line-height-sm">Add Quiz</h4>
  <form [formGroup]="addTestForm" class="w-6 m-0-a">
    <!-- Title Input -->
    <div class="grid mt-3">
      <div class="col-12">
        <div class="w-full">
          <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">
            Title <span>*</span>
          </label>
          <input class="w-full capitalize" pInputText formControlName="title" placeholder="Enter title" maxlength="60"
            (input)="updateCharacterCount()" required />
          <span class="absolute top-0 right-0 text-sm text-gray-500">
            {{ charCount }}/60
          </span>
        </div>
      </div>


      <div class="flex flex-wrap w-full mb-4">
        <div class="w-full">
          <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Total Time
          </label>
          <input class="w-full block text-sm" pKeyFilter="num" pInputText formControlName="totaltime" placeholder="0"
            required="true" />
        </div>
      </div>

      <div class="flex flex-wrap w-full mb-4">
        <div class="w-full">
          <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Max Marks
          </label>
          <input class="w-full block text-sm" pKeyFilter="num" pInputText formControlName="maxmark" placeholder="0"
            required="true" />
        </div>
      </div>


      <div class="flex flex-wrap w-full mb-4">
        <div class="w-full">
          <p-checkbox formControlName="supportanotherlang" [binary]="true"></p-checkbox>
          <label class="ml-2">Another Language Support</label>
        </div>
      </div>

      @if(addTestForm.get('supportanotherlang')?.value === true){
      <div class="flex flex-wrap w-full mb-4">
        <div class="w-full">
          <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Custom Language
          </label>
          <input class="w-full block text-sm" pInputText formControlName="another_lang" placeholder="Enter name"
            required="true" />
        </div>
      </div>
      }

    </div>

    <!-- Buttons -->
  </form>
  <div class="flex">
    <div class="p-fixed p-grid p-justify-end" style="bottom: 50px; right: 50px; margin-top: 250px; position: fixed;">
      <p-button type="button" label="Cancel" class="create-button mx-2"></p-button>
      <p-button type="button" label="Submit" class="create-button"></p-button>
    </div>
  </div>
</div>