<div class="grid">
    <div class="col-7 flex">

        <p-avatar label="P" styleClass="mr-1" size="xlarge" shape="circle" />
        <div class="grid ml-2">
            <span>
                <h3 class="inline mr-4">Subhash Moond</h3>
                <p-tag severity="success" value="Active" />
            </span>
            <span> subhashgmail.com . +91 7073167210 . Joined On Dec, 15, 2024 </span>
        </div>
    </div>

    <div class="col-5 flex justify-content-end	">
        <p-button class="mr-2 secondery-btn border-round-md"><i class="mr-1 pi pi-ban"></i> Block Disussion </p-button>
        <p-button class="mr-2 secondery-btn border-round-md"> Deactive </p-button>
        <p-button class="create-button border-round-md">+ Add Product</p-button>
    </div>
</div>

<div class="grid secondry-bg-color mt-4 p-4 border-round-md">

    <div class="col-3">
        <span>Login Device Reset Count</span>
        <h4 class="mt-3">12</h4>
    </div>

    <div class="col-3">
        <span>Last Login Date </span>
        <h4 class="mt-3"> Dec 25, 2024</h4>
    </div>


    <div class="col-3">
        <span> Referral Code Used while signup</span>
        <h4 class="mt-3">10</h4>
    </div>

    <div class="col-3">
        <span>Total Referred Learners</span>
        <h4 class="mt-3">0</h4>
    </div>

</div>

<div class="grid mt-5">
    <div class="col-12">
        <h5>Products Enrolled </h5>
    </div>

    <div class="col-12">
        <div class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
            <img src="../../../../../assets/images/icon/no-loan-application.svg">
            <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">No Products Enolled</p>
            <p class="text-primary-purple text-base font-normal mt-2">There is no Products Enolled to show you right
                now.</p>
        </div>
    </div>

</div>


<div class="grid mt-5">
    <div class="col-12">
        <h5> Purchase History </h5>
    </div>

    <div class="col-12">
        <div class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
            <img src="../../../../../assets/images/icon/no-loan-kyc.svg">
            <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">No Purchase History</p>
            <p class="text-primary-purple text-base font-normal mt-2">There is no Purchase History to show you right
                now.</p>
        </div>
    </div>

</div>