<h2>{{ 'labels.heading.LogIn' | translate}}</h2>
@if(!otpVerify){
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        
        <div class="field mb-5 w-full float-left">
            <label>Phone Number</label>
            <input type="text" pInputText id="username" pKeyFilter="num" formControlName="username" class="w-full"
                placeholder=" {{ 'labels.placeholders.Enter username' | translate }}" autocomplete="off" />
            @if(loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched){
            <small id="username-help" class="p-error">{{ 'errors.Username is required' | translate}}</small>
            }
        </div>
    
        <div class="field mb-5 w-full float-left">
            <label>Institute Code</label>
            <input type="text" pInputText formControlName="instituteCode" class="w-full"
                placeholder="Enter Institute Code" autocomplete="off" />
            @if(loginForm.get('instituteCode')?.errors?.['required'] && loginForm.get('instituteCode')?.touched){
            <small id="username-help" class="p-error">Institute Code is required</small>
            }
        </div>
    
        <div class="field relative w-full float-left">
            <label>{{ 'labels.inputs.Password' | translate}}</label>
            <input type="{{ showPassword ? 'text' : 'password' }}" id="password" pInputText formControlName="password"
                class="w-full" placeholder="{{ 'labels.placeholders.Enter password' | translate }}" autocomplete="off" />
    
            @if(loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched){
            <small id="username-help" class="p-error">{{ 'errors.Password is required' | translate}}</small>
            }
    
            @if(showPassword){
            <i class="viewpassword absolute fa fa-solid fa-eye" (click)="viewPassword()"></i>
            }
            @else{
            <i class="viewpassword absolute fa fa-solid fa-eye-slash" (click)="viewPassword()"></i>
            }
        </div>
    
    
        <div class="flex justify-content-end flex-wrap pt-5 w-full float-left">
            <button type="submit" pButton pRipple label=" {{'labels.buttons.Login' | translate}}" class="primary-button deshbord-login-button"
                [disabled]="loginForm.invalid"></button>
        </div>
    </form>
}
@else {

    <form [formGroup]="otpFrom" (ngSubmit)="otpVarify()">
        
        <div class="field mb-1 w-full float-left">
            <input type="text" pInputText id="username" pKeyFilter="num" formControlName="otp" class="w-full"
                placeholder=" Enter OTP " autocomplete="off" [maxlength]="4" />
            @if(loginForm.get('otp')?.errors?.['required'] && loginForm.get('otp')?.touched){
            <small id="username-help" class="p-error">OTP is required</small>
            }
        </div>

        <p-button label="Resend Code" [link]="true" (onClick)="otpResend()" class="p-0"/>
    
    
        <div class="flex justify-content-end flex-wrap pt-5 w-full float-left">
            <button type="submit" pButton pRipple label=" {{'labels.buttons.Login' | translate}}" class="primary-button deshbord-login-button"
                [disabled]="otpFrom.invalid"></button>
        </div>
    </form>
    

}




<p-toast></p-toast>
