<h2>{{ 'labels.heading.Sign Up' | translate}}</h2>
<form [formGroup]="signUpFrom" (ngSubmit)="signUpUser()">
    <div class="field mb-5 w-full float-left">
        <label>Name</label>
        <input type="text" pInputText formControlName="name" class="w-full"
            placeholder="Enter your name" autocomplete="off" />
        @if(signUpFrom.get('name')?.errors?.['required'] && signUpFrom.get('name')?.touched){
        <small id="username-help" class="p-error">Name is required</small>
        }
    </div>

    <div class="field mb-5 w-full float-left">
        <label>Phone Number</label>
        <input type="text" pInputText pKeyFilter="num" formControlName="username" class="w-full"
            placeholder="Enter your phone number" autocomplete="off" />
        @if(signUpFrom.get('username')?.errors?.['required'] && signUpFrom.get('username')?.touched){
        <small id="username-help" class="p-error">Phone Number is required</small>
        }
    </div>

    <div class="field mb-5 w-full float-left">
        <label>Institute Code</label>
        <input type="text" pInputText formControlName="instituteCode" class="w-full"
            placeholder="Enter Institute Code" autocomplete="off" />
        @if(signUpFrom.get('instituteCode')?.errors?.['required'] && signUpFrom.get('instituteCode')?.touched){
        <small id="username-help" class="p-error">Institute Code is required</small>
        }
    </div>

    <div class="field relative w-full float-left">
        <label>{{ 'labels.inputs.Password' | translate}}</label>
        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" pInputText formControlName="password"
            class="w-full" placeholder="{{ 'labels.placeholders.Enter password' | translate }}" autocomplete="off" />

        @if(signUpFrom.get('password')?.errors?.['required'] && signUpFrom.get('password')?.touched){
        <small id="username-help" class="p-error">{{ 'errors.Password is required' | translate}}</small>
        }

        @if(showPassword){
        <i class="viewpassword absolute fa fa-solid fa-eye" (click)="viewPassword()"></i>
        }
        @else{
        <i class="viewpassword absolute fa fa-solid fa-eye-slash" (click)="viewPassword()"></i>
        }

    </div>

    <div class="flex justify-content-end flex-wrap pt-5 w-full float-left">
        <button type="submit" pButton pRipple label="Sign Up" class="primary-button deshbord-login-button"
            [disabled]="signUpFrom.invalid"></button>
    </div>
</form>


<p-toast></p-toast>
