<!-- <p-toast></p-toast> -->


<div class="card">

        <div class="grid client-dashborad-header mb-4 align-items-center">
                <div class="col-6">
                        <h4 class="subheading-color">Test Records</h4>
                </div>
                <div class="col-6 flex justify-content-end">

                        <p-button class="create-button border-round-md" (click)="openSidebar()">Add
                                Test</p-button>

                        <div
                                class="view-tab flex ml-3 flex-wrap border-round-md p-1 border-round-md button-shadow justify-content-center aign-items-center">
                                <button (click)="listViewChange('card')" [class.bg-white]="!tableView"
                                        class="p-element p-0 cursor-pointer border-none w-2rem flex flex-wrap align-items-center justify-content-center border-round-sm form-header-bg p-button p-component"><img
                                                src="../../../../assets/images/icon/mage-dashboard.svg" alt=""
                                                class="icon-size-medium"></button>
                                <button (click)="listViewChange('table')" [class.bg-white]="tableView"
                                        class="p-element p-0 cursor-pointer border-none w-2rem flex flex-wrap align-items-center justify-content-center border-round-sm p-button p-component"><img
                                                src="../../../../assets/images/icon/list-bold.svg" alt=""
                                                class="icon-size-medium"></button>
                        </div>
                        <!-- appUserPermissions accessType='CREATE_CLIENT' -->
                </div>

        </div>


        @if(tableView){
        <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
                selectionMode="single" class="client-data-table">

                <!-- <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
                selectionMode="single" class="client-data-table" [value]="coursesList"> -->

                <ng-template pTemplate="header" class="p-4">
                        <tr class="w-full flex flex-wrap">
                                <th style="width:25%;word-break:break-all;" class="pl-3 pt-3 border-none primary-color">
                                        Name
                                </th>
                                <th style="width:25%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">
                                        Price
                                </th>
                                <th style="width:25%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">
                                        No. Students
                                </th>
                                <th style="width:25%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">
                                        Action
                                </th>
                        </tr>

                </ng-template>

                <!-- <ng-template pTemplate="body" let-data>
                        <tr class="w-full flex flex-wrap">
                                <td style="width: 25%;word-break:break-all;" class="pl-4 capitalize">
                                        {{data.title}}
                                </td>
                                <td style="width: 25%;word-break:break-all;" class="pl-4">
                                        {{data.price}}
                                </td>
                                <td style="width: 25%;word-break:break-all;" class="pl-4">
                                        {{data.number_students}}
                                </td>
                                <td style="width: 25%;" class="pl-4">
                                        <div class="action-menu">
                                                <button class="three-dot-button" (click)="toggleDropdown(data.id)">
                                                        ⋮
                                                </button>

                                                @if(openDropdownId === data.id){
                                                <div class="dropdown-menu">


                                                        <button (click)="courseBullder(data.id)">
                                                                <i class="pi pi-eye"></i> View
                                                        </button>

                                                        <button (click)="deleteCourse(data.id)">
                                                                <i class="pi pi-trash"></i> Delete
                                                        </button>
                                                </div>
                                                }
                                        </div>
                                </td>

                        </tr>
                </ng-template> -->

                <ng-template pTemplate="emptymessage">
                        <tr>
                                <td colspan="5">No customers found.</td>
                        </tr>
                </ng-template>

        </p-table>
        <!-- <p-paginator class="paginator-row paginator-dropdown" (onPageChange)="onPageChange($event)" [first]="offset"
                [rows]="limit" [rowsPerPageOptions]="[15, 30, 50]" [totalRecords]=totalRecorde></p-paginator> -->
        }
        @else {

        <div class="courses-list flex flex-wrap">

                <div class="course-card bg-white border-round-md" (click)="navigateDetailsPage()">
                        <img class="w-full border-round-md" src="../../../assets/images/course-tham.png">

                        <div class="c-content p-3">
                                <h5 class="white-space-nowrap overflow-hidden text-overflow-ellipsis w-full ">Demo Test
                                </h5>
                        </div>

                        <div class="c-footer flex border-top-1 primary-purple-border p-3">
                                <div class="flex-1 flex justify-content-start">
                                        @if(true){
                                        <p-tag severity="success" value="Published" />
                                        }@else {
                                        <p-tag severity="secondary" value="Unpublished" />
                                        }
                                </div>
                                <div class="flex-1 flex justify-content-end">
                                        20 Students
                                </div>
                        </div>
                </div>
        </div>
        }

</div>


@if(false){
<div class="table-view big-card mb-3">
        <div class="card py-3 px-2">
                <div class="grid client-dashborad-header mb-2">
                        <div class="col-6">
                                <p-skeleton styleClass="primary-bg-gray w-10rem h-2rem border-round-sm"></p-skeleton>
                        </div>
                        <div class="col-6 flex justify-content-end">
                                <p-skeleton styleClass="primary-bg-gray w-4rem h-2rem border-round-sm"></p-skeleton>
                                <p-skeleton
                                        styleClass="primary-bg-gray w-10rem h-2rem border-round-sm ml-2"></p-skeleton>
                        </div>
                </div>
                <table class="mt-4 w-full">
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                        <tr class="grid mt-2 gap justify-content-between">
                                <td class="col-9"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm"></p-skeleton>
                                </td>
                                <td class="col-2"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                                <td class="col-1"><p-skeleton
                                                styleClass="block primary-bg-lightgray tr-h border-round-sm pl-3"></p-skeleton>
                                </td>
                        </tr>
                </table>
        </div>
</div>
}

<p-sidebar [(visible)]="addFormSideBar" [fullScreen]="true">
         <app-create-test-course (closeSideBar)="closeSideBar()"></app-create-test-course>
</p-sidebar>