.content-type {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 2fr 2fr 2fr;
    gap: 1rem;
}

.type {
    display: grid;
    padding: 20px;
    cursor: pointer;
    background: #F3F4F9;
    border : 1px solid #F3F4F9;
}

.type:hover{
    border : 1px solid #473289;
}

.content-type-img{
    width : 50px;
    margin-bottom: 10px;
}