<p-toast />
<div class="grid client-dashborad-header mb-4 align-items-center">
    <div class="col-6">
        <h4 class="subheading-color"><i class="pi pi-arrow-left mr-2 cursor-pointer font-bold "
                (click)="backCourseDetailPage()"></i> Lesson Name</h4>
    </div>
    <div class="col-6 flex justify-content-end	">
        <button type="submit" pButton pRipple label=" +  Add Content" (click)="addContent()"
            class="secondary-button px-6 text-sm"></button>
    </div>

</div>

@if (!isLoader) {


@if (chapterDataList.content.length < 1 ) { <div
    class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
    <img src="../../../../../assets/images/icon/no-loan-application.svg">
    <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">No Contents</p>
    <p class="text-primary-purple text-base font-normal mt-2">There is no Contents to show you right now.</p>
    </div>

    }
    @else {

    @if(chapterDataList.live.length > 0){

    <div class="mt-5 mb-3">
        <h5> Live Class </h5>
    </div>

    <div class="grid">
        @for(data of chapterDataList.live; track data){
        <div class="col-3">
            <div class="live-card p-4 border-round-md cursor-pointer primary-gradient-bg">
                <p-tag severity="success" value="Live" class="w-full" />
                <span style="float: right;">
                    <i class="pi pi-pencil text-color cursor-pointer" (click)="editlive(data)"></i>
                    <i class="ml-3 pi pi-trash cursor-pointer" style="color : red" (click)="deletelive(data)"></i>
                </span>

                @if(data.type === "youtubelive"){
                <p class="text-color w-full mt-4 p-0 m-0"> <i class="pi pi-youtube" style="color : red"></i> YouTube
                    live </p>
                }

                @if(data.type === "linkewiselive"){
                <p class="text-color w-full mt-4 p-0 m-0"> <i class="pi pi-link text-primary-purple font-bold"></i> link
                    live </p>
                }

                <h4 (click)="joinLive(data)"
                    class="mt-2 primary-hover-color gray-color capitalize white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    {{data.title}}</h4>
            </div>
        </div>
        }
    </div>
    }


    @if(chapterDataList.content.length > 0){

    <div class="mt-5 mb-3">
        <h5> All Contents </h5>
    </div>

    @for(data of chapterDataList.content; track data){
    <div class="content-card mb-4">
        <div class="p-3">
            <i class="pi pi-microsoft font-bold text-primary-color"></i>
        </div>
        <div class="border-left">

            <div class="card">
                <p-panel [toggleable]="true">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            @switch (data.type) {
                            @case ("article") {
                            <span class="font-bold">
                                Article
                            </span>
                            }
                            @case ("video") {
                            <span class="font-bold">
                                Videos
                            </span>
                            }
                            @case ("audio") {
                            <span class="font-bold">
                                Audios
                            </span>
                            }
                            @case ("notes") {
                            <span class="font-bold">
                                Notes
                            </span>
                            }
                            @case ("image") {
                            <span class="font-bold">
                                Images
                            </span>
                            }
                            @case ("youtubevideo") {
                            <span class="font-bold">
                                Youtube Videos
                            </span>
                            }
                            

                            @case("test") {
                            <span class="font-bold">
                                Test
                            </span>
                            }

                            }


                        </div>
                    </ng-template>

                    <ng-template pTemplate="icons">



                        <!-- <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)"> -->
                        <!-- <button class="p-panel-header-icon p-link mr-2" (click)="editContent(data.type, data.id)">
                                        <span class="pi pi-cog"></span>
                                    </button> -->

                        @switch (data.type) {
                        @case ("article") {
                        <a class="cursor-pointer" (click)="uploadContent(data, 'text', 'edit')"> Edit </a>
                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>
                        }
                        @case ("video") {
                        <button (click)="uploadContent(data, 'Video', 'edit')" class="p-panel-header-icon p-link mr-2">
                            <span class="cursor-pointer pi pi-cog"></span>
                        </button>
                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>
                        }
                        @case ("audio") {
                        <button (click)="uploadContent(data, 'Audio', 'edit')" class="p-panel-header-icon p-link mr-2">
                            <span class="cursor-pointer pi pi-cog"></span>
                        </button>
                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>
                        }
                        @case ("notes") {
                        <button (click)="uploadContent(data, 'notes', 'edit')" class="p-panel-header-icon p-link mr-2">
                            <span class="cursor-pointer pi pi-cog"></span>
                        </button>
                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>
                        }
                        @case ("image") {
                        <button (click)="uploadContent(data, 'image', 'edit')" class="p-panel-header-icon p-link mr-2">
                            <span class="cursor-pointer pi pi-cog"></span>
                        </button>
                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>
                        }
                        @case ("youtubevideo") {
                        <button (click)="uploadContent(data, 'youtubevideo', 'edit')"
                            class="p-panel-header-icon p-link mr-2">
                            <span class="cursor-pointer pi pi-cog"></span>
                        </button>
                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>
                        }
                        

                        @case("test") {
                            
                        <!-- <button (click)="uploadContent(data, 'test', 'edit')" class="p-panel-header-icon p-link mr-2">
                            <span class="cursor-pointer pi pi-cog"></span>
                        </button> -->

                        <button (click)="deleteContent(data._id)" class="p-panel-header-icon p-link mr-2">
                            <span class="pi pi-trash label-required"></span>
                        </button>

                        }

                        }




                    </ng-template>


                    @switch (data.type) {
                    @case ("article") {
                    <p class="m-0">
                        <!-- {{data.text}} -->
                        <p-editor [(ngModel)]="data.text" [readonly]="true" [style]="{ height: 'auto' }"
                            [class.hide-toolbar]="hideHeader"></p-editor>

                    </p>
                    }
                    @case ("video") {
                    <video width="100%" height="540px" controls>
                        <source [src]="getSafeUrl(data.url)" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    }
                    @case ("notes") {
                    <iframe [src]="getSafeUrl('https://docs.google.com/gview?embedded=true&url=' + data.url)"
                        width="100%" height="600" frameborder="0">
                        Your browser does not support PDFs.
                    </iframe>
                    }
                    @case ("audio") {
                    <audio controls>
                        <source [src]="getSafeUrl(data.url)" type="audio/mpeg" />
                        Your browser does not support the audio element.
                    </audio>
                    }
                    @case ("image") {
                    <img [src]="data.url">
                    }
                    @case ("youtubevideo") {
                    <iframe [src]="getYouTubeEmbedUrl(data.url)" width="100%" height="540px" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    }

                    @case("test") {

                    @if(true){

                    <div class="grid cursor-pointer" (click)="sectionDetailPage(data)">
                        <div class="col-12  ">
                            <h6 class="underline capitalize">{{data.title}}</h6>
                            <!-- <span class="text-sm text-color-secondary"> 12 Questions </span> -->
                        </div>
                    </div>
                    }@else {
                    <div class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
                        <img src="../../../../../assets/images/icon/no-loan-application.svg">
                        <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">Add Section to quiz your students
                        </p>
                        <button type="button" pRipple label="View" (click)="sectionDetailPage(data)" pButton
                            class="secondary-button curriculum-btn px-6 text-sm mt-3"></button>
                    </div>
                    }

                    }

                    }


                </p-panel>
            </div>


        </div>
    </div>
    }

    }


    }

    }
    @else {

    <div class="grid">

        <div class="col-12">
            <p-skeleton height="3rem" styleClass="mb-2 w-full" />
            <p-skeleton height="9rem" styleClass="mb-2 w-full" />
        </div>


        <div class="col-12">
            <p-skeleton height="3rem" styleClass="mb-2 w-full" />
            <p-skeleton height="9rem" styleClass="mb-2 w-full" />
        </div>

        <div class="col-12">
            <p-skeleton height="3rem" styleClass="mb-2 w-full" />
            <p-skeleton height="9rem" styleClass="mb-2 w-full" />
        </div>

    </div>

    }

    <!-- Add Lesson Contents  -->

    <p-sidebar [(visible)]="addContentPopup" position="right" [style]="{width:'40%'}">
        <h4 class="pt-4 pb-4 m-0 font-semibold line-height-sm"> Add Content </h4>
        <div class="content-type">
            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'text', 'add')">
                <img class="content-type-img" src="../../../../../assets/images/icon/text.png">
                <!-- <i class="pi pi-align-left font-bold flex mb-2 justify-content-center"></i> -->
                <h6>Text</h6>
            </div>

            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'Video', 'add')">
                <!-- <i class="pi pi-play font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/video.svg">
                <h6>Video</h6>
            </div>

            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'notes', 'add')">
                <!-- <i class="pi pi-file font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/Pdf.svg">
                <h6>PDF</h6>
            </div>

            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'image', 'add')">
                <!-- <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/Image.svg">
                <h6>Image</h6>
            </div>

            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'audio', 'add')">
                <!-- <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/Audio.svg">
                <h6>Audio</h6>
            </div>


            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'youtubevideo', 'add')">
                <!-- <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/youtube.png">
                <h6>Youtube Video</h6>
            </div>

            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'Quiz', 'add')">
                <!-- <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/Quiz.png">
                <h6>Quiz</h6>
            </div>

            <div pRipple class="type border-round-lg cursor-pointer justify-content-center align-items-center"
                (click)="uploadContent('', 'Live Class', 'add')">
                <!-- <i class="pi pi-bullseye font-bold flex mb-2 justify-content-center"></i> -->
                <img class="content-type-img" src="../../../../../assets/images/icon/live-class.png">
                <h6>Live</h6>
            </div>

        </div>
    </p-sidebar>

    @if(uploadContents){
    <p-sidebar [(visible)]="uploadContents" position="right" [style]="{width:'40%'}">
        <app-upload-content (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentId]="contentId"
            [contentTypes]="contentTypes"></app-upload-content>
    </p-sidebar>
    }

    @if(isImage){
    <p-sidebar [(visible)]="isImage" position="right" [style]="{width:'40%'}">
        <app-image (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-image>
    </p-sidebar>
    }

    @if(isVideo){
    <p-sidebar [(visible)]="isVideo" position="right" [style]="{width:'40%'}">
        <app-upload-video (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-upload-video>
    </p-sidebar>
    }

    @if(isAudio){
    <p-sidebar [(visible)]="isAudio" position="right" [style]="{width:'40%'}">
        <app-audio (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-audio>
    </p-sidebar>
    }

    @if(isResource){
    <p-sidebar [(visible)]="isResource" position="right" [style]="{width:'40%'}">
        <app-re-source (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-re-source>
    </p-sidebar>
    }

    @if(isYoutubevideo){
    <p-sidebar [(visible)]="isYoutubevideo" position="right" [style]="{width:'40%'}">
        <app-youtube-video (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-youtube-video>
    </p-sidebar>
    }

    @if(isText){
    <p-sidebar [(visible)]="isText" position="right" [style]="{width:'40%'}">
        <app-text (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-text>
    </p-sidebar>
    }

    @if(isQuiz){
    <p-sidebar [(visible)]="isQuiz" position="right" [style]="{width:'40%'}">
        <app-create-test (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId" [contentTypes]="contentTypes"
            [contentId]="contentId"></app-create-test>
    </p-sidebar>
    }

    @if(isLiveClass){
    <p-sidebar [(visible)]="isLiveClass" position="right" [style]="{width:'40%'}">
        <app-live-class [editLiveData]="editLiveData" (closeSideBar)="closeSideBar($event)" [lessonId]="lessonId"
            (closeSideBar)="closeSideBarliveClass()"></app-live-class>
    </p-sidebar>
    }

