<!-- <p-toast /> -->
<div class="grid client-dashborad-header mb-4 align-items-center">
    <div class="col-6">
        <h4 class="subheading-color">Lesson Name</h4>
    </div>
    <div class="col-6 flex justify-content-end	">
        <button type="submit" pButton pRipple label="Add Content" (click)="addContent()"
            class="secondary-button px-6 text-sm"></button>
    </div>

</div>

@for(data of chapterDataList; track data){
<div class="content-card">
    <div class="p-3">
        <i class="pi pi-microsoft font-bold text-primary-color"></i>
    </div>
    <div class="border-left">

        <div class="card">
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span class="font-bold">
                            Chapter Name
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="icons">



                    <!-- <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)"> -->
                    <!-- <button class="p-panel-header-icon p-link mr-2" (click)="editContent(data.type, data.id)">
                        <span class="pi pi-cog"></span>
                    </button> -->

                    @switch (data.type) {
                    @case ("article") {
                    <a (click)="uploadContent(data, 'text', 'edit')"> Edit </a>
                    }
                    @case ("video") {
                    <button (click)="uploadContent(data, 'Video', 'edit')" class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-cog"></span>
                    </button>
                    }
                    @case ("notes") {
                    <button (click)="uploadContent(data, 'notes', 'edit')" class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-cog"></span>
                    </button>
                    }
                    @case ("image") {
                    <button (click)="uploadContent(data, 'image', 'edit')" class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-cog"></span>
                    </button>
                    }
                    @case ("youtube_video") {
                    <button (click)="uploadContent(data, 'youtubevideo', 'edit')" class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-cog"></span>
                    </button>
                    }
                    @case ("resource") {
                    <button (click)="uploadContent(data, 'resource', 'edit')" class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-cog"></span>
                    </button>
                    }
                    }

                    <button (click)="deleteContent(data.id)" class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-trash label-required"></span>
                    </button>

                    
                </ng-template>


                @switch (data.type) {
                @case ("article") {
                <p class="m-0">
                    {{data.text}}
                </p>
                }
                @case ("video") {
                <video width="600" controls>
                    <source src="../../../../../assets/images/mp4.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                }
                @case ("notes") {
                    <p>PDF</p>
                <img src="../../../../../assets/images/client-profile.png">
                }
                @case ("image") {
                <img src="../../../../../assets/images/client-profile.png">
                }
                @case ("youtube_video") {
                <video width="600" controls>
                    <source [src]="data.url" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                }
                @case ("resource") {
                <img src="../../../../../assets/images/client-profile.png">
                }
                }


            </p-panel>
        </div>


    </div>
</div>
}


<!-- Add Lesson Contents  -->

<p-sidebar [(visible)]="addContentPopup" position="right" [style]="{width:'27.6%'}">
    <h4 class="pt-4 pb-4 m-0 font-semibold line-height-sm">Add Content </h4>
    <div class="content-type">
        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'text', 'add')">
            <i class="pi pi-align-left font-bold flex mb-2 justify-content-center"></i>
            <h4>Text</h4>
        </div>

        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'Video', 'add')">
            <i class="pi pi-play font-bold flex mb-2 justify-content-center"></i>
            <h4>Video</h4>
        </div>

        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'notes', 'add')">
            <i class="pi pi-file font-bold flex mb-2 justify-content-center"></i>
            <h4>PDF</h4>
        </div>

        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'image', 'add')">
            <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i>
            <h4>Image</h4>
        </div>

        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'audio', 'add')">
            <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i>
            <h4>Audio</h4>
        </div>


        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'youtubevideo', 'add')">
            <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i>
            <h4>Youtube Video</h4>
        </div>


        <div class="type justify-content-center align-items-center" (click)="uploadContent('', 'resource', 'add')">
            <i class="pi pi-image font-bold flex mb-2 justify-content-center"></i>
            <h4>Resource</h4>
        </div>

    </div>
</p-sidebar>

@if(uploadContents){
    <p-sidebar [(visible)]="uploadContents" position="right" [style]="{width:'27.6%'}">
        <app-upload-content [lessonId]="lessonId" [contentId]="contentId"
            [contentTypes]="contentTypes"></app-upload-content>
    </p-sidebar>
}

@if(isImage){
    <p-sidebar [(visible)]="isImage" position="right" [style]="{width:'27.6%'}">
        <app-image [lessonId]="lessonId" [contentTypes]="contentTypes" [contentId]="contentId"></app-image>
    </p-sidebar>
}

@if(isVideo){
    <p-sidebar [(visible)]="isVideo" position="right" [style]="{width:'27.6%'}">
        <app-upload-video [lessonId]="lessonId" [contentTypes]="contentTypes" [contentId]="contentId"></app-upload-video>
    </p-sidebar>
}

@if(isAudio){
    <p-sidebar [(visible)]="isAudio" position="right" [style]="{width:'27.6%'}">
        <app-audio [lessonId]="lessonId" [contentTypes]="contentTypes"></app-audio>
    </p-sidebar>
}

@if(isResource){
    <p-sidebar [(visible)]="isResource" position="right" [style]="{width:'27.6%'}">
        <app-re-source [lessonId]="lessonId" [contentTypes]="contentTypes" [contentId]="contentId"></app-re-source>
    </p-sidebar>
}

@if(isYoutubevideo){
    <p-sidebar [(visible)]="isYoutubevideo" position="right" [style]="{width:'27.6%'}">
        <app-youtube-video [lessonId]="lessonId" [contentTypes]="contentTypes" [contentId]="contentId"></app-youtube-video>
    </p-sidebar>
}

@if(isText){
    <p-sidebar [(visible)]="isText" position="right" [style]="{width:'27.6%'}">
        <app-text [lessonId]="lessonId" [contentTypes]="contentTypes"></app-text>
    </p-sidebar>
}

