.plan-design{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
}
.border-top{
    border-top: 1px solid #f5f5f5;
}
.border-bottom{
    border-bottom: 1px solid #f5f5f5;
}