<p-toast></p-toast>

<div class="w-full p-6">
    <!-- <h4 class="m-0 font-semibold line-height-sm">{{"labels.heading.Add Signature" | translate}}</h4> -->
    <form [formGroup]="addContent" (ngSubmit)="submitForm()" class="w-full flex flex-wrap">

        <div class="grid nested-grid mt-3">

            <div class="col-12">
                <div class="w-full">
                    <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Title
                        <span>*</span></label>
                    <!-- <p-editor formControlName="text" [style]="{ height: '320px' }" /> -->

                    <textarea rows="5" cols="70" pInputTextarea formControlName="text"></textarea>

                </div>
            </div>



        </div>

        <div
            class="assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
            <button pButton pRipple label="{{'labels.buttons.Cancel' | translate}}"
                class="primary-border-button px-5 mr-3 text-sm"></button>
            <button type="submit" pButton pRipple label="{{'labels.buttons.Add' | translate}}"
                class="primary-button px-5 text-sm"></button>
        </div>
    </form>
</div>