<div class="grid nested-grid">

    <div class="col-12 py-7 border-bottom-light">

        <div class="grid w-full ">

            <div class="col-6">
                <h4 class="mb-3">Step 1 : Download Sample Template</h4>
                <p class="text-lg text-color-secondary m-0 mt-2">Download sample template by clicking the button below.</p>
                <!-- <p class="text-lg text-color-secondary m-0 mt-2">You can add the tyres data according to the template file.</p> -->
            </div>
    
            <div class="col-6 text-right ">
                <button type="submit" (click)="downloadSample()" pButton pRipple label="Download Sample" icon="pi pi-arrow-down" class="secondary-button px-6 text-sm"></button>
            </div>

        </div>

    </div>


    <div class="col-12 py-7">
        <div class="grid">
            <div class="col-6">
                <h4 class="mb-3" >Step 2 : Upload CSV/XLS</h4>
                <p class="text-lg text-color-secondary m-0 mt-2">Upload the edited template by clicking the buttin below.</p>
            </div>
    
            <div class="col-6 text-right ">
                <button type="submit" pButton pRipple label="Upload File" icon="pi pi-paperclip" class="secondary-button px-6 text-sm"></button>
            </div>
        </div>

    </div>


    <div class="assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
        <button pButton pRipple label="Cancel" class="primary-border-button px-5 mr-3 text-sm"></button>
        <button type="submit" pButton pRipple label="Save"
          class="primary-button px-5 text-sm"></button>
      </div>

</div>

<img src="../../../../assets/file/Question Bluk upload.xlsx">