<p-accordion [activeIndex]="0">
  <p-accordionTab header="Header I">
    <ul class="p-ml-4 p-list-none p-p-0">
      <li class="p-d-flex p-ai-center p-p-2 p-mb-3 p-border-1 p-border-round p-justify-between">
        <span class="p-mr-2" style="font-weight: bold">5</span>
        Test 5
      </li>
    </ul>

    <p-button class="create-button border-round-md my-2" (onClick)="openAddQuestionSidebar()" icon="pi pi-plus"
      label="Add Question"></p-button>

  </p-accordionTab>

  <p-accordionTab header="Header II">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium...
    </p>
  </p-accordionTab>

  <p-accordionTab header="Header III">
    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
  </p-accordionTab>
</p-accordion>

<p-sidebar [(visible)]="addQuestionSidebarVisible" position="right" styleClass="w-30rem">
  <app-question-type></app-question-type>
</p-sidebar>