<!-- <p-toolbar>
    <div class="p-toolbar-group-start">
        <i class="pi pi-arrow-left mr-2" style="font-size: 1rem"></i> Course Name
    </div>
    
    <div class="p-toolbar-group-end">
        <p-button label="Publish course" [outlined]="true" class="mr-4" />
        <p-button label="Save course" icon="pi pi-check" />
    </div>
</p-toolbar> -->


<div class="grid grid-nogutter nested-grid">
    <div class="col-2">

        <div class="w-full relative overflow-hidden	">
            <span class="h-1rem">
                <img src="../../../../assets/images/loan-account.png">
                <h2 class="absolute">UI/UX Design</h2>
            </span>
        </div>

        <ul class="sidebar-menu">
            <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Curriculum </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Certificates </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Information </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Pricing </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Coupons </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active" class="sidebar-header flex align-items-center px-3">
                    <span> Comment </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active" class="sidebar-header flex align-items-center px-3">
                    <span> Students </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Reports </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
        </ul>

    </div>


    <div class="col-10 bg-white content-body">
        <app-curriculum></app-curriculum>
    </div>



</div>