
<div class="grid grid-nogutter nested-grid">
    <div class="col-2">

        <div class="w-full relative overflow-hidden	">
            <span class="h-1rem">
                <img src="../../../../assets/images/course-tham.png">
                <h2 class="absolute">UI/UX Design</h2>
            </span>
        </div>

        <ul class="sidebar-menu">
            <li>
                <a href="javascript:void(0)" (click)="courseTabs('curriculum')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Curriculum </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <!-- <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Certificates </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li> -->
            <li>
                <a href="javascript:void(0)" (click)="courseTabs('information')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Information </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="courseTabs('pricing')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Pricing </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="courseTabs('coupons')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Coupons </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="courseTabs('comment')" routerLinkActive="active" class="sidebar-header flex align-items-center px-3">
                    <span> Comment </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="courseTabs('student')" routerLinkActive="active" class="sidebar-header flex align-items-center px-3">
                    <span> Students </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
           
        </ul>

    </div>


    <div class="col-10 bg-white content-body">
        @switch (currentActiveTab) {
            @case ("curriculum") {
                <app-curriculum></app-curriculum>
            }
            @case ("information") {
                <app-course-information></app-course-information>
            }
            @case ("pricing") {
                <app-course-pricing></app-course-pricing>
            }
            @case ("coupons") {
                <app-course-coupons></app-course-coupons> 
            }
            @case ("comment") {
                <app-course-comment></app-course-comment>
            }
            @case ("student") {
                <app-course-students></app-course-students>
            }
        }

    </div>



</div>