<div class="grid grid-nogutter nested-grid">
    <div class="col-2 secondry-bg-color">

        <!-- <div class="w-full relative overflow-hidden	h-10rem">
            <img src="../../../../assets/images/course-tham.png">
            <h5 class="white-space-nowrap overflow-hidden text-overflow-ellipsis w-full absolute bottom-0 p-3 text-white-alpha-90 ">UI/UX Design</h5>
        </div> -->

        <div class="w-full relative overflow-hidden	h-10rem">

            <i (click)="updateThumbnail()" class="pi pi-pencil border-circle p-2 bg-white absolute right-0 m-3 cursor-pointer"></i>

            @if(courseDetails.image_url == "undefined"){

                <img src="../../../../assets/images/course-tham.png">
            }
            @else{
                <img style="width: 100%; height: 100%; object-fit: cover;" [src]="courseDetails.image_url">
            }


        </div>

        <h6 class="font-semibold course-heading capitalize">{{courseDetails.name}}</h6>

        <ul class="sidebar-menu course-s-b">
            <li [ngClass]="{'active': currentActiveTab === 'curriculum'}">
                <a href="javascript:void(0)" (click)="courseTabs('curriculum')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Curriculum </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <!-- <li>
                <a href="javascript:void(0)" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Certificates </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li> -->
            <li [ngClass]="{'active': currentActiveTab === 'information'}">
                <a href="javascript:void(0)" (click)="courseTabs('information')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Information </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>

            

            <li [ngClass]="{'active': currentActiveTab === 'pricing'}">
                <a href="javascript:void(0)" (click)="courseTabs('pricing')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Pricing </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li [ngClass]="{'active': currentActiveTab === 'coupons'}">
                <a href="javascript:void(0)" (click)="courseTabs('coupons')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Coupons </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li [ngClass]="{'active': currentActiveTab === 'addon'}">
                <a href="javascript:void(0)" (click)="courseTabs('addon')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Add-On </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li [ngClass]="{'active': currentActiveTab === 'comment'}">
                <a href="javascript:void(0)" (click)="courseTabs('comment')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Comment </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>
            <li [ngClass]="{'active': currentActiveTab === 'student'}">
                <a href="javascript:void(0)" (click)="courseTabs('student')" routerLinkActive="active"
                    class="sidebar-header flex align-items-center px-3">
                    <span> Students </span>
                    <i class="text-base submenu-icon ml-auto fa fa-angle-right"></i>
                </a>
            </li>

        </ul>
    </div>


    <div class="col-10 bg-white content-body">
        @switch (currentActiveTab) {
        @case ("curriculum") {
        <app-curriculum></app-curriculum>
        }
        @case ("information") {
        <app-course-information></app-course-information>
        }
        @case ("pricing") {
        <app-course-pricing></app-course-pricing>
        }
        @case ("coupons") {
        <app-course-coupons></app-course-coupons>
        }
        @case ("comment") {
        <app-course-comment [allowReviewStatus]="allowReviewStatus"></app-course-comment>
        }
        @case ("student") {
        <app-course-students></app-course-students>
        }

        @case ("addon") {
            
            <app-addon-product></app-addon-product>

        }

        }

    </div>



</div>



<!-- Update and Add new  Thambnail  -->
@if(isThumbnail){
    
    <p-dialog header="Update Course Thumbnail" [modal]="true" [(visible)]="isThumbnail" [style]="{ width: '35rem' }">
        <app-course-thumbnail (closepoup)="closeThumbnailPopup($event)" [thumbnalAndTitleData]="thumbnalAndTitleData"></app-course-thumbnail>
    </p-dialog>

}