<p-toast />
<div class="card">

    <div class="grid client-dashborad-header mb-4 align-items-center">
        <div class="col-6">
            <h4 class="subheading-color">Coupons List</h4>
        </div>

        <div class="col-6 flex justify-content-end">
            <button type="submit" (click)="addCoupone()" pButton pRipple label="+ Add Coupone"
            class="secondary-button px-6 text-sm"></button>
        </div>

    </div>



    <div class="curiculam-h" >

        <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
            selectionMode="single" class="client-data-table" [value]="couponsList">
    
            <ng-template pTemplate="header" class="p-4">
                <tr class="w-full flex flex-wrap">
                    <th style="width:25%;word-break:break-all;" class="pl-3 pt-3 border-none primary-color">CODE</th>
                    <th style="width:25%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">DISCOUNT</th>
                    <th style="width:25%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">STATUS</th>
                    <th style="width:25%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">USED COUNT</th>
                </tr>
    
            </ng-template>


            
                <ng-template pTemplate="body" let-data>
        
                    <tr class="w-full flex flex-wrap">
                        <td style="width: 25%;word-break:break-all;" class="pl-4 capitalize">
                            {{data.code}}
                        </td>
                        <td style="width: 25%;word-break:break-all;" class="pl-4">
                            {{data.discount}}
                        </td>
        
                        <td style="width: 25%;word-break:break-all;" class="pl-4">
                            @if(data.actvie === true){
                                <p-tag severity="success" value="Active"/>
                            }
                            @else {
                                <p-tag severity="contrast" value="Deactive"/>
                            }
                        </td>
        
                        <td style="width: 25%;word-break:break-all;" class="pl-4">
                            {{data.used_count}}
                        </td>
                        
        
                    </tr>
    
    
    
                </ng-template>
            
                
    
            <ng-template pTemplate="emptymessage">
                <div class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
                    <img src="../../../../../assets/images/icon/no-data.svg">
                    <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">No Coupons</p>
                    <p class="text-primary-purple text-base font-normal mt-2">There is no Coupons to show you right now.</p>
                </div>

            </ng-template>


            @if(isLoader){
                <tr>
                    <td colspan="5"><p-skeleton height="3rem" styleClass="mb-2" /></td>
                </tr>

                <tr>
                    <td colspan="5"><p-skeleton height="3rem" styleClass="mb-2" /></td>
                </tr>

                <tr>
                    <td colspan="5"><p-skeleton height="3rem" styleClass="mb-2" /></td>
                </tr>
                <tr>
                    <td colspan="5"><p-skeleton height="3rem" styleClass="mb-2" /></td>
                </tr>
            }
    
        </p-table>
    </div>

</div>

@if(isAddCoupons){
    <p-sidebar [(visible)]="isAddCoupons" position="right" [style]="{width:'27.6%'}">
    <h4 class="pt-4 pb-4 m-0 font-semibold line-height-sm">Create Coupons </h4>

        <form [formGroup]="createCouponsForm" (ngSubmit)="createCouponse()" class="w-full flex flex-wrap">

            <div class="grid nested-grid mt-3">
    
                <div class="col-12">
                    <div class="grid">

                        <div class="col-12">
                            <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Discount
                                <span>*</span></label>

                                <p-inputGroup>
                                    
                                    <input class="w-full capitalize" type="text" pInputText formControlName="discount" />
                                    <p-inputGroupAddon>%</p-inputGroupAddon>
                                  </p-inputGroup>

                        </div>
    
                        
    
                        <div class="col-12">
                            <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block"> Valid To </label>

                            <p-inputGroup>
                                <p-calendar formControlName="todate" />
                                <p-inputGroupAddon>
                                    <i class="pi pi-calendar-clock"></i>
                                </p-inputGroupAddon>
                              </p-inputGroup>
                            
                        </div>  

                        <div class="col-12">
                            <div class="flex align-items-center">
                                <p-checkbox formControlName="suggestDuring" label="Suggest During" name="suggest"
                                    [binary]="true" />
                            </div>
                        </div>
    
                    </div>
                </div>
    
    
    
            </div>
    
            <div
                class="assign-fix-buttons bg-white py-3 px-5 fixed flex flex-wrap aign-items-center justify-content-end mt-5">
                <button pButton pRipple label="Cancel"
                    class="primary-border-button px-5 mr-3 text-sm"></button>
                <button type="submit" pButton pRipple label="Add"
                    class="primary-button px-5 text-sm"></button>
            </div>
        </form>
        
    </p-sidebar>
}