<div class="cards">
    <div class="grid client-dashborad-header mb-4 align-items-center">
        <div class="col-12">
            <h4 class="subheading-color">Course Information</h4>
        </div>
        
    </div>
</div>



<form [formGroup]="courseInformation">
    <div class="grid nested-grid mt-3">
        <div class="col-12">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Title
                </label>
                <input class="w-full capitalize" pInputText formControlName="title" placeholder="Enter Course Name"
                    required="true" />
            </div>
        </div>

        <!-- <div class="col-12 ai-generater">
            <div class="flex justify-content-end">
                <p>Let our AI tool work its magic to generate a compelling course description and other metadata
                    in seconds!</p>
            </div>
            <div class="flex justify-content-end">
                <button type="button" pButton pRipple label="Generate Using AI"
                    class="secondary-button px-6 text-sm"></button>
            </div>
        </div> -->

        <div class="col-12 mt-4">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Description</label>
                <textarea rows="5" style="width: 100%;" pInputTextarea formControlName="description"></textarea>
            </div>
        </div>


        <div class="col-12">
            <div class="w-full">
                <label class="w-full mb-1 text-sm font-medium line-height-exsm inline-block">Course Tagline
                </label>
                <input class="w-full capitalize" pInputText formControlName="tagline" placeholder="Enter Course Tagline"
                    required="true" />
            </div>
        </div>

        <div class="col-12">
            <button type="button" pButton pRipple (click)="saveDetails()" label="Save"
                class="secondary-button px-6 text-sm"></button>
        </div>


    </div>
</form>