/* .add-courses {
    max-width: 600px;
    margin: auto;
  } */
  
  .text-center h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .text-center p {
    font-size: 16px;
    color: #666;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }
  
  button {
    margin-top: 250px;
    
  }
  
  .add-courses {
    margin-top: 20px;
  }
  
  .text-black {
    color: black;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .top-0 {
    top: 0;
  }
  
  .right-0 {
    right: 0;
  }
  
  .text-gray-500 {
    color: #6b7280;
  }
  
  .ml-2 {
    margin-left: 0.5rem;
  }
  
  .text-gray-600 {
    color: #4b5563;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .font-bold {
    font-weight: 700;
  }
  