<p-toast></p-toast>
<p-confirmDialog styleClass="confirmation-pop-up-dialog"></p-confirmDialog>
<!-- <div class="cards">
    <div class="grid client-dashborad-header mb-4 align-items-center">
        <div class="col-6">
            <h4 class="subheading-color">Exam Category</h4>
            <p>Create and Manage Exam Categories. </p>
        </div>
        <div class="col-6 flex justify-content-end	">
            <button type="submit" (click)="addExamCategory()" pButton pRipple label="+ Add Exam Category"
                class="secondary-button px-6 text-sm"></button>
        </div>

    </div>
</div> -->

<div class="category-main">

    <p-tabView>

        <p-tabPanel header="Exam Category">

            <div class="grid client-dashborad-header mt-2 mb-4 align-items-center">
                <div class="col-6">
                    <h4 class="subheading-color">Exam Category</h4>
                    <p class="pt-2 m-0">Create and Manage Exam Categories. </p>
                </div>
                <div class="col-6 flex justify-content-end	">
                    <button type="submit" (click)="addExamCategory()" pButton pRipple label="+ Add Exam Category"
                        class="secondary-button px-6 text-sm"></button>
                </div>
        
            </div>

            <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
                selectionMode="single" class="client-data-table" [value]="examCategoryList">

                <ng-template pTemplate="header" class="p-4">
                    <tr class="w-full flex flex-wrap">
                        <th style="width:80%;word-break:break-all;" class="pl-3 pt-3 border-none primary-color">Category
                            Name</th>
                        <!-- <th style="width:60%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Create Date</th> -->

                        <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Action
                        </th>
                    </tr>

                </ng-template>

                <ng-template pTemplate="body" let-data>
                    <tr class="w-full flex flex-wrap">
                        <td style="width: 80%;word-break:break-all;" class="pl-4 capitalize">
                            {{data.category_name}}
                        </td>
                        <!-- <td style="width: 60%;word-break:break-all;" class="pl-4">
                           {{data.create_at}}
                        </td> -->

                        <td style="width: 20%;" class="pl-4">

                            <!-- <i class="pi pi-plus cursor-pointer" pTooltip="Add New Subcategory" tooltipPosition="top"
                                (click)="addSubCategory(data.category_id)" style="font-size: 1rem"></i>
                            <i class="pi pi-eye ml-3 cursor-pointer" pTooltip="View Details" tooltipPosition="top"
                                (click)="viewDetails(data)" style="font-size: 1rem"></i> -->
                            
                            <i class="pi pi-trash ml-3 cursor-pointer" [style]="{color : 'red'}"
                                pTooltip="Delete Category" tooltipPosition="top"
                                (click)="deleteCategory(data.category_id)" style="font-size: 1rem"></i>

                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <!-- <tr>
                        <td colspan="5">No customers found.</td>
                    </tr> -->
                    <div class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
                        <img src="../../../assets/images/icon/no-data.svg">
                        <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">No Exam Category</p>
                        <p class="text-primary-purple text-base font-normal mt-2">There is no exam category to show you right now.</p>
                    </div>
                </ng-template>

            </p-table>
            <p-paginator class="paginator-row paginator-dropdown" (onPageChange)="onPageChange($event)" [first]="offset"
                [rows]="limit" [rowsPerPageOptions]="[15, 30, 50]" [totalRecords]=totalRecorde></p-paginator>



        </p-tabPanel>


        <p-tabPanel header="Digital Product Category">
            

            <div class="grid client-dashborad-header mt-2 mb-4 align-items-center">
                <div class="col-6">
                    <h4 class="subheading-color">Digital Product Category</h4>
                    <p class="pt-2 m-0">Create and Manage Categories. </p>
                </div>
                <div class="col-6 flex justify-content-end	">
                    <button type="submit" (click)="addDigiCategory()" pButton pRipple label="+ Add Digital Category"
                        class="secondary-button px-6 text-sm"></button>
                </div>
        
            </div>

            <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
                selectionMode="single" class="client-data-table" [value]="digitalproductDataList">

                <ng-template pTemplate="header" class="p-4">
                    <tr class="w-full flex flex-wrap">
                        <th style="width:20%;word-break:break-all;" class="pl-3 pt-3 border-none primary-color">Category
                            Name</th>
                        <th style="width:60%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color"> Total Product </th>

                        <th style="width:20%;word-break:break-all;" class="pl-4 pt-3 border-none primary-color">Action
                        </th>
                    </tr>

                </ng-template>

                <ng-template pTemplate="body" let-data>
                    <tr class="w-full flex flex-wrap">
                        <td style="width: 20%;word-break:break-all;" class="pl-4 capitalize">
                            {{data.name}}
                        </td>
                        <td style="width: 60%;word-break:break-all;" class="pl-4">
                            {{data.total_product}}
                        </td>

                        <td style="width: 20%;" class="pl-4">
                            
                            <i class="pi pi-pencil ml-3 cursor-pointer" pTooltip="View Details" tooltipPosition="top"
                                (click)="editDigiCategory(data)" style="font-size: 1rem"></i>

                            <i class="pi pi-trash ml-3 cursor-pointer" [style]="{color : 'red'}"
                                pTooltip="Delete Category" tooltipPosition="top"
                                (click)="deleteDigiCategory(data.id)" style="font-size: 1rem"></i>
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <!-- <tr>
                        <td colspan="5">No customers found.</td>
                    </tr> -->
                    <div class="flex align-items-center justify-content-center flex-column h-full w-full h-30rem">
                        <img src="../../../assets/images/icon/no-data.svg">
                        <p class="text-primary-purple text-xl font-semibold mt-6 mb-1">No Digital Product Category</p>
                        <p class="text-primary-purple text-base font-normal mt-2">There is no digital product category to show you right now.</p>
                    </div>
                </ng-template>

            </p-table>
            <p-paginator class="paginator-row paginator-dropdown" (onPageChange)="onPageChange($event)" [first]="offset"
                [rows]="limit" [rowsPerPageOptions]="[15, 30, 50]" [totalRecords]=totalRecorde></p-paginator>


        </p-tabPanel>


    </p-tabView>

</div>





@if(isSideBar){
<p-sidebar [(visible)]="isSideBar" position="right" styleClass="w-30rem">
    <app-add-exam-category (closeSideBars)="closeSideBar($event)"></app-add-exam-category>
</p-sidebar>
}

@if(isSubcategory){
<p-sidebar [(visible)]="isSubcategory" position="right" styleClass="w-30rem">
    <app-sub-category [examCategoryId]="examCategoryId"
        (closeSideBars)="subCategoryCloseSideBar($event)"></app-sub-category>
</p-sidebar>
}

@if(isViewDetails){
<p-sidebar [(visible)]="isViewDetails" position="right" styleClass="w-30rem">
    <app-category-detail [subCategoryData]="subCategoryData"
        (closeSideBars)="closeDetailSideBar($event)"></app-category-detail>
</p-sidebar>
}


<!-- Digital Product Category SIde bar  -->

@if(isAddDigitalCategory){
    <p-sidebar [(visible)]="isAddDigitalCategory" position="right" styleClass="w-30rem">
        <app-add-digital-product-category (closeSideBars)="closeSideBar($event)" [editDigitalCategoryData]="editDigitalCategoryData" ></app-add-digital-product-category>
    </p-sidebar>

}
    

