<div class="grid client-dashborad-header mb-4 align-items-center">
    <div class="col-6">
        <h4 class="subheading-color">Section Name </h4>
    </div>

     <div class="col-6 flex justify-content-end	">
        <button pButton pRipple label="Bulk Upload" (click)="questionBulkUpload()" class="primary-border-button px-5 mr-3 text-sm"></button>


        <button type="submit" pButton pRipple label="Add Question" (click)="createQuestion()"
            class="secondary-button px-6 text-sm"></button>

    </div>

</div>


<div class="grid">

    <div class="col-12">

        <p-table [rows]="10" [showLoader]="true" [responsive]="true" [scrollable]="true" scrollHeight="37.938rem"
            selectionMode="single" class="client-data-table" [value]="questionData.questions">

            <ng-template pTemplate="body" let-data>
                <tr class="w-full flex flex-wrap">
                    <td style="width: 85%;word-break:break-all;"
                        class="pl-4 text-xl underline cursor-pointer capitalize table-p" [innerHTML]="data.text">
                    </td>

                    <td style="width: 15%;word-break:break-all;" class="pl-4 capitalize">
                        <i class="mr-4 cursor-pointer pi pi-pencil" (click)="editQuestion(data.id)"></i>
                        <i class="cursor-pointer pi pi-trash label-required" (click)="deleteQuestion(data.id)"></i>
                    </td>
                </tr>
            </ng-template>

        </p-table>

    </div>

</div>


@if(isQestion){
    <p-sidebar [(visible)]="isQestion" [fullScreen]="true">
        <app-create-questions (closepopup)="closepopup($event)" [moduleName]="moduleName" [sectionIdForQuestion]="sectionId"></app-create-questions>

    </p-sidebar>
    <!-- <p-dialog header="Create Section" [modal]="true" [(visible)]="isQestion" [style]="{ width: '100vh' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <app-create-questions (closepopup)="closepopup($event)" [moduleName]="moduleName" [sectionIdForQuestion]="sectionId"></app-create-questions>
    </p-dialog> -->
}


@if(isBulkUpload){
    <p-dialog header="Create Section" [modal]="true" [(visible)]="isBulkUpload" [style]="{ width: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <app-bulk-question-upload></app-bulk-question-upload>
    </p-dialog>
}



